[2020-03-27 11:32] premun opened #4 "Create API in SdkVersions.cs to inject different versions"
**Context**
In https://github.com/xamarin/xamarin-macios/ there is a file `Make.config` which holds definitions for versions of dependencies listed in the `SdkVersions.cs` file. On build time they produce this C# file and consume it in the XHarness project.

**Problem**
We have hardcoded this file when moving to this repo but when `xamarin-macios` consumes the NuGet from this repo back, the versio

[2020-03-27 11:34] premun opened #5 "Migrate the Microsoft.DotNet.XHarness.iOS.Tests project to XUnit"
Currently is NUnit, we might want to move to XUnit

[2020-03-27 23:00] MattGal opened #8 "refactor common command functionality"
Follow-up from https://github.com/dotnet/xharness/pull/7

There's lots of small refactorings we could do, may as well wait until we have things working for a little while first as some features may become "vestigial".

[2020-03-30 12:32] premun commented on #4
The API is being created here: https://github.com/xamarin/xamarin-macios/pull/8234

[2020-03-31 13:15] premun opened #12 "Create README.md for the repository"
What should be included
- Usage (can CLI docs be generated from code?)
- How to build, run
- What is coming out of this repo - the tool, the shared lib for xamarin

[2020-04-02 19:46] premun commented on #8
Seems like we were thinking the same and it happened here https://github.com/dotnet/xharness/pull/13 so closing

[2020-04-02 19:46] #8 closed

[2020-04-06 08:23] premun opened #16 "Enable nullable references"
We can consider turning on nullable references which would totally make sense at least for the CLI project where we really care for arguments to be set properly. Other projects could follow.
For iOS.Shared it might be a problem to enable it for the whole project at once since it's quite large but we can definitely try it and see. It would also make sense there because we really care about proper f

[2020-04-06 08:24] premun commented on #16
@MattGal we have spoken about this with @mandel-macaque briefly on Friday and we agree that we would be up for trying this out. Your thoughts?

[2020-04-08 10:55] premun opened #19 "Figure out verbosity setting"
- In iOS part of XHarness and also in mlaunch, verbosity is set via `-v` option that can be provided multiple times and an `int` verbosity level is set and used.
The way it is being passed around is also a bit unfortunate because it is handed over in method args/ctors even though it's a quite static property of the program run.

- In the CLI we have now `ILogger` which has `Debug`/`Information`/`W

[2020-04-08 15:46] MattGal commented on #19
I'll be taking a stab at this as part of my current work.

[2020-04-15 12:22] premun opened #29 "ADB is duplicated in the CLI NuGet package"
The folder structure looks like this:
[code]

[2020-04-15 12:23] premun commented on #29
Oh, the PR wasn't closed yet. Will move the comment there.

[2020-04-15 12:23] #29 closed

[2020-04-16 14:07] mandel-macaque opened #36 "[Runners] Create events to notify that the test execution has been completed."
Add events in the runners to notify the callers that the tests started and completed so that they can react to them. This follows the comment here: https://github.com/dotnet/runtime/pull/34976#discussion_r409418192

[2020-04-16 14:08] mandel-macaque opened #37 "[Runners] Typo in 'iOSApplicatonEntryPoint'"
There is a typo that went un-noticed during the merge.

[2020-04-16 14:15] mandel-macaque opened #39 "[Runners] Provide Android application entry point implementation."
Provide the required implementation for the android entry point. Code should allow callers to:

* Provided a text writer to be used as a logger.
* Specify a location used to store the results.

[2020-04-16 21:07] #37 closed

[2020-04-17 12:33] akoeplinger commented on #37
@mandel-macaque this isn't fixed, the PR just renamed the file but the class still contains the typo: iOSApplicatonEntryPoint

[2020-04-17 14:42] #39 closed

[2020-04-17 20:22] mandel-macaque opened #44 "[Runners] Expose the minimum log level to be used to clients."
Allow clients of the runners to set the log level they want to be used by the runner. This is useful for the mono team to track possible crashes etc..

[2020-04-17 21:22] #44 closed

[2020-04-20 13:50] #36 closed

[2020-04-20 13:52] mandel-macaque opened #49 "If Xcode path is not provided, use the xcode path from xcode-select"
If the user does not provide the xcode path, use the path returned by xcode-select.

That means that we have to set the path to be lazy and change the mono options definition from using a '=' to a ':' so that it is an optional parameter.

[2020-04-20 13:54] premun commented on #49
So this happens here already:
https://github.com/dotnet/xharness/blob/3b84a4154b6491ccebc2c0a502ec12411990e843/src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/ProcessManager.cs#L442-L466

[2020-04-20 13:59] mandel-macaque opened #50 "[Runners] Provide events per test start and test end."
Provide an event in the runners that will notify client.

* Start event: Should contain the full name of the test that started.
* Completed event: Should contain the full name of the test that completed and the result.

[2020-04-20 15:29] premun commented on #16
I had a first stab over the weekend at this and it gets really tricky with the MonoOptions parsing.

[2020-04-20 15:32] #50 closed

[2020-04-20 15:54] MattGal commented on #16
I think it's fancy technology for fancy technology's sake, and maybe not the best use of your time.  But if you're doing it, go for it!

[2020-04-20 16:09] premun commented on #16
That's why I did it on my own time since it is mostly my curiosity. But I disagree it's for fancy technology's sake. There is a lot of value in it that prevents a really nasty class of runtime errors. I think for us it might be even more important since this is not a service and we do not collect logs from the usage of the tool so if it crashes for people, it might be hard to repro.

After turning

[2020-04-20 16:29] MattGal commented on #16
Sure.  It sounds like the kind of thing that's cheaper to do now than later...

[2020-04-20 19:33] premun opened #52 "Fix and re-enable the SimpleTcpListenerTest.ProcessTest test"
The test is creating TCP connections and is flaky as can be seen here:
https://dev.azure.com/dnceng/public/_build/results?buildId=608669&view=ms.vss-test-web.build-test-results-tab

[2020-04-20 21:02] #5 closed

[2020-04-20 21:03] premun commented on #49
I think this is resolved now. Works as expected.

[2020-04-20 21:03] #49 closed

[2020-04-20 21:03] #4 closed

[2020-04-20 23:29] EgorBo opened #53 "Xunit should respect `[ActiveIssue]` attribute"
We don't use "rsp/ignore list" approach in `dotnet/runtime` anymore, thus `xharness` needs to support
`[ActiveIssue]`, e.g. https://github.com/dotnet/runtime/blob/110282c71b3f7e1f91ea339953f4a0eba362a62c/src/libraries/System.ComponentModel.Composition/tests/System/Integration/CompositionContainerAttributedModelCycleTests.cs#L33

we've marked several hundreds of `dotnet/runtime` tests with it.

htt

[2020-04-21 00:16] mandel-macaque opened #54 "[Runners] TestStarted event is not raised"
All other test events are raised but the TestStarted one. This is a blocker for the mono team.

[2020-04-21 00:20] mandel-macaque opened #55 "[iOS] Do not generate the human readable html by default."
The parsing of the xml to a human readable version is done for the xamarin/xamarin-macios team. This does not make any sense in the terms of the xharness tool as a CLI, set it to not be generated by default and let the xamarin/xamarin-macios set it.

[2020-04-21 07:56] premun commented on #55
Ah, sorry, I forgot to create this one

[2020-04-21 14:26] EgorBo commented on #53
Turns out there are ~2000 ActiveIssues (half of them for mono) so we can't run the tests until this issue if fixed.

[2020-04-21 15:25] mandel-macaque commented on #55
@premun I'm on it, no worries :)

[2020-04-21 18:13] akoeplinger opened #58 "Stop running tests in official builds"
I noticed that you're running tests in the official builds on https://dev.azure.com/dnceng/internal/_build?definitionId=795&_a=summary, that doesn't happen in other official builds and causes the official build to take longer than necessary.

@premun @MattGal

[2020-04-21 18:55] mandel-macaque opened #60 "The runners lib does have 0 coverage."
Add tests to the runners to make sure we do not have regressions.

[2020-04-22 10:09] premun commented on #58
Thanks for letting us know. I will turn them of.

[2020-04-22 13:14] premun opened #64 "xcode-select on Helix machines returns /Library/Developer/CommandLineTools"
I guess it needs to be initializde after Xcode is installed using `xcode-select --switch`?

[2020-04-22 13:25] #64 closed

[2020-04-22 16:27] mandel-macaque opened #65 "[iOS] Move the NUnit tests to xUnit"
We have both types of tests, lets setting in xUnit. That means moving the tests here: https://github.com/dotnet/xharness/blob/master/tests/Microsoft.DotNet.XHarness.iOS.Tests to xUnit, they are not may and will make it easier when publishing results in the pipeline.

[2020-04-22 16:37] #54 closed

[2020-04-23 01:08] mandel-macaque opened #67 "Throw error on Windows/Linux."
The ios verb cannot work on Windows, makes no sense. Throw an error when a user tries to execute any of the ios verbs on windows or linux.

[2020-04-23 07:45] premun commented on #67
There goes my development experience on Windows 😅

We also shouldn't show it in help on Windows as well.

But maybe we really just should have 2 packages - CLI.iOS and CLI.Android..
No Android users download a large package thanks to mlaunch and then won't be able to use most of it.

[2020-04-23 10:27] premun opened #69 "iOS application installation fails"
I tried with an app bundled by XHarness as well with Egor's.

I get an error from mlaunch:
[code]

[2020-04-23 10:29] premun commented on #69
https://github.com/xamarin/maccore/blob/e03f16b862686e378318ef362d447365878b750e/tools/mlaunch/Xamarin.Hosting/Xamarin.Hosting/Services.cs#L769

[2020-04-23 10:54] premun commented on #69
- mlaunch didn't change
- test app didn't change
- iOS version didn't change
- only XHarness changed, but not sure when this started..

Trying to find when it started

[2020-04-23 11:24] premun opened #71 "The timeout for the `ios test` command doesn't work"
Application doesn't timeout after given time.

The CancellationToken wasn't plumbed through yet in `iOSTestCommand.cs`:
https://github.com/dotnet/xharness/blob/9d7c784d6edd84f600405e6852359f837154f66b/src/Microsoft.DotNet.XHarness.CLI/iOS/iOSTestCommand.cs#L56

Something like this is in order:
https://github.com/premun/xharness/commit/572007ccd21ec873f98dbfb6d07a5dceee0caab0

[2020-04-23 12:30] mandel-macaque opened #72 "[iOS] Remove Mono.Options from the TestRunner"
We want to keep the dependencies to the minimum.

[2020-04-23 12:51] premun opened #73 "[iOS] The `ios test` command hangs indefinitely"
The root cause is this call:
https://github.com/dotnet/xharness/blob/9d7c784d6edd84f600405e6852359f837154f66b/src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleTcpListener.cs#L26

Somehow this hangs (might be this: https://github.com/dotnet/runtime/issues/24513) when we call `listener.Cancel()` from `AppRunner`:
https://github.com/dotnet/xharness/blob/9d7c784d6edd84f600405e6852359f837154f66

[2020-04-23 14:35] #65 closed

[2020-04-23 15:12] mandel-macaque commented on #69
I have tested with the latests preview version, the app installs and launch perfectly. There are two possible issues for this:

1. The application has a funny name (_ in it)
2. The certificates you are suing DO NOT match the bundle id (this is the most probably case).
3. Some crazy cert issues.

I would try to run the app with vsmac of xcode to see if the same happens.

[2020-04-23 15:19] mandel-macaque opened #77 "[iOS] Xml results are not written in the oputdir."
Probably we are missing the xml reporter of (works case) we have tcp network issues. That will be solved when we land https://github.com/dotnet/xharness/pull/66 and move to use tunnels.

[2020-04-23 15:20] mandel-macaque opened #78 "Notify users when we can get the xml results over the network"
Notify the users when we do not get the results over the network due to the phone not reaching the host. A warning should be more than enough.

[2020-04-23 15:52] #58 closed

[2020-04-24 20:29] mandel-macaque opened #82 "[iOS] Add a more verbose error when a user gets the wrong target."
The --help does not list the targets that are support. That is hard because the option is shared between android and ios, but if the user gets the wrong one, do list the supported ones.

[2020-04-25 00:18] mandel-macaque opened #85 "[iOS] Issues launching an application on a iOS32 simulator."
We have an issue when launching applications on a 32b simulator. Although I suspect it will happen the same with a ios 64 sim. The application was compiled using xamarin-macios to test the xharness tool.

Useful logs:

[iPhone 5.log](https://github.com/dotnet/xharness/files/4532064/iPhone.5.log)

[run-Simulator_iOS32.log](https://github.com/dotnet/xharness/files/4532065/run-Simulator_iOS32.log)

[2020-04-25 00:35] mandel-macaque opened #86 "[iOS] If two devices are found xharness does not choose the one with the correct arch"
Testing the command line with two devices present in my host machine:

* iPod touch (32b)
* iPhone 8+ (64b)

The application was compiled for a 64b device, but xharness tried to install it on the iPod Touch instead of the iPhon 8+

Useful logs:

[run-Device_iOS.log](https://github.com/dotnet/xharness/files/4532093/run-Device_iOS.log)

[2020-04-25 00:37] mandel-macaque opened #87 "[iOS] Paths are created with quotes."
Executing the following:

[code]

The created dirs contain quotes.
[code]

[2020-04-25 00:47] mandel-macaque opened #88 "[iOS] If application cannot deploy to device to wrong arch notify it to the user"
We can tell that the app could not be installed because the target device has a diff arch by parsing the installation logs. Rather than telling the user to look at the logs, parse the installation logs and notify the error in a nicer way.

[2020-04-25 10:41] marek-safar opened #90 "xharness packages are no longer published"
the last available NuGet package is from 21/4/2020 (version number .20221.3)

[2020-04-25 10:41] marek-safar commented on #90
/cc @mandel-macaque @premun

[2020-04-25 10:44] premun commented on #90
@marek-safar, thanks - we know about this, we were broken by arcade and a fix should be on the way. I coordinated with Egor the first day it happened saying I can provide a manually built package in case it becomes a blocker but he said he is working on Android now, so I decided to just wait.

[2020-04-25 11:06] premun commented on #87
I think if you do regular quotes this doesn't happen. But the one in your example are not `"` but `”`. I've been using quotes and Mono.Options takes care of them for you normally.

[2020-04-25 15:14] #82 closed

[2020-04-25 22:14] premun commented on #69
I guess the issue was that folder name was different than app name

[2020-04-25 22:14] #69 closed

[2020-04-25 22:15] #19 closed

[2020-04-27 07:56] premun commented on #72
Mono.Options.dll is 45 kB, maybe we want to keep it after all? Doesn't look that bad and we would bring in another code that would have to do the same instead so..

[2020-04-27 08:30] premun opened #91 "[iOS] App completes successfully but XHarness tool fails"
Egor has built me an app from these tests:
[code]

The app runs fine, it terminates but we fail to parse the results:
[code]

The header makes it an invalid XML:
[code]

Also number of tests ran doesn't correlate with the code:
[code]
The skipped test is mentioned in the logs though:
[code]

**Problems to be solved**
- [x] Remove invalid header from results XML - https://github.com/dotnet/xharness

[2020-04-27 09:35] premun commented on #91
I as able to resolve the first problem:
https://github.com/premun/xharness/commit/615a98b703b74724864dd3d18626a88ab1204426

PR to be opened yet

[2020-04-27 10:28] premun commented on #91
The problem with the `nunit-` comes from `IsValidXml` where it is recognized incorrectly:
[code]

I am afraid to change this because of xamarin-macios though...

[2020-04-27 10:37] premun commented on #91
The reason we are generating NUnit results always is here:
https://github.com/dotnet/xharness/blob/bc6dca4cc9607c2b95b92c26cb1061e631176025/src/Microsoft.DotNet.XHarness.Tests.Runners/iOSApplicationEntryPoint.cs#L38-L48

@mandel-macaque currently the TestRunner can never output xUnit results ^^

So the `nunit-` prefix is OK actually.

[2020-04-27 10:42] premun commented on #91
The skipped test problem might be an issue with the wrong XML result jargon

[2020-04-27 11:46] premun commented on #91
The reason for not recognizing that tests finished successfully is here:
https://github.com/dotnet/xharness/blob/bc6dca4cc9607c2b95b92c26cb1061e631176025/src/Microsoft.DotNet.XHarness.iOS.Shared/XmlResultParser.cs#L54-L58

It should return NUnitv3. But maybe above should be v2? I don't know the formats so not sure

[2020-04-27 11:55] premun commented on #91
Ok, I am a bit confused.

NUnit v2: https://nunit.org/files/testresult_25.txt
NUnit v3: https://nunit.org/files/testresult_30.txt

So `IsValidXml` is actually correct.. The XML returned from Egor's app is also NUnit v2, but we only succeed if we try to parse it as NUnit v3... This is weird

[2020-04-27 12:12] #55 closed

[2020-04-27 12:42] premun opened #96 "[iOS] Should we capture logs from all simulators?"
We are capturing logs from all simulators and I don't understand why.
I also haven't seen more than log in the results so it hasn't happened but also not sure why to do it for all of them instead of for one only:
https://github.com/dotnet/xharness/blob/a4e8d3a17797a746db382293c7d4f1c9bf6f25f3/src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs#L229-L245

Maybe this will start making problems for parall

[2020-04-27 13:15] premun commented on #90
There was an update from Arcade today but the issue remains unresolved. I will talk to Matt/Ricardo today to get it fixed.

https://dev.azure.com/dnceng/internal/_build/results?buildId=619068&view=logs&j=0a6c679f-72be-5867-422e-acb741a068a3

[2020-04-27 13:44] mandel-macaque commented on #87
@premun is right, closing this guy.

[2020-04-27 13:44] #87 closed

[2020-04-27 14:05] premun commented on #91
Oops, got auto-closed

[2020-04-27 14:06] mandel-macaque opened #98 "[iOS] Generate XML test results in xUnit format by default"
xUnit is the basic framework used by mono, lets move to always use xUnit and let other projects specify the desired output. This means adding a new option to the test command that will allow to specify the xml jargon to use.

[2020-04-27 14:28] premun commented on #77
I think this can be closed now

[2020-04-27 14:39] premun commented on #90
@marek-safar I unblocked our pipeline with a workaround, once this finishes:
https://dev.azure.com/dnceng/internal/_build/results?buildId=619174&view=logs&s=6884a131-87da-5381-61f3-d7acc3b91d76&j=8d2248bb-cd55-5169-11d5-7c5b1f0b2b92

we should have new versions of XHarness

[2020-04-27 15:07] premun commented on #90
We have a new package:
https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-eng&package=Microsoft.DotNet.XHarness.CLI&protocolType=NuGet&version=1.0.0-prerelease.20227.4&view=overview

[2020-04-27 15:07] #90 closed

[2020-04-27 15:16] mandel-macaque commented on #91
@premun the test reporter can use xunit, it is supported, we need to change the default and allow to pass the jargon.  Found the issue will create a pr for this and assign the fix to https://github.com/dotnet/xharness/issues/77

[2020-04-27 16:42] mandel-macaque commented on #67
@premun that is actually a good point, making the windows users to download mlaunch seems evil.

[2020-04-27 16:43] mandel-macaque commented on #91
The following PR should fix a number of the issues: https://github.com/dotnet/xharness/pull/102

* Do generate xUnit
* Do write a clean version of the xml result in the output dir.

[2020-04-27 16:48] mandel-macaque opened #104 "[iOS] Allow to configure the nuget path and msbuild path for the package verb."
Allow use to set the paths to nuget restore and msbuild so that they can work on unstable releases when using the package verb.

[2020-04-27 16:49] mandel-macaque opened #105 "Package verb should generate packages for all supported platforms."
For the time being, we only support iOS, but we are missing tvOS and watchOS. Those should be added so that all templates are generated.

[2020-04-27 17:19] #73 closed

[2020-04-27 18:15] premun commented on #91
So I guess after #102 we only need to find out how stuff gets to `Console.Out` and I just failed to figure it out. I will give it another shot tomorrow.

[2020-04-27 20:26] #77 closed

[2020-04-27 20:26] #98 closed

[2020-04-28 11:59] premun opened #108 "[iOS] App stdout leaks to XHarness stderr"
Part of the stdout that is the app writing and is received in XHarness through the TCP listener is displayed in stdout of XHarness. Only stuff logged through `ILogger` should be displayed.

Actual:
[code]

Expected:
[code]

[2020-04-28 13:40] mandel-macaque opened #110 "Add version of the tool in --help"
Print the tool version so that it is easy to know what version of the tool is used when debugging possible problems.

[2020-04-28 13:45] premun commented on #110
The version currently comes from Arcade when the package is created so we will need to figure out how to get it before it's created. I will talk to someone from the engineering team about it

[2020-04-28 14:06] mandel-macaque opened #111 "[Runners] iOSApplicationEntry does not respect the xUnit xml format."
Even when xharness requests to use xUnit, the runner uses NUnitV3. Issue is in line https://github.com/dotnet/xharness/blob/master/src/Microsoft.DotNet.XHarness.Tests.Runners/iOSApplicationEntryPoint.cs#L39

[2020-04-28 14:44] premun commented on #53
Apparently this didn't work and the tests are still being executed

[2020-04-28 14:55] #111 closed

[2020-04-28 15:07] #104 closed

[2020-04-28 15:46] premun opened #114 "Unify approach to exit codes"
We can follow xUnit example:
https://xunit.net/docs/getting-started/netfx/visual-studio

[2020-04-28 16:01] premun commented on #53
Ok, the issue was - there was a misunderstanding and a **category** named like that was ignored, not the attribute

[2020-04-28 16:55] mandel-macaque opened #115 "[iOS] Log messages do not add the device name."
When executing on device the following logs are written in stdout:

[code]

A string interpolation is missing.

[2020-04-28 17:08] premun commented on #108
So it looks like the output is in &2, so 2>/dev/null fixes this, but still looking how it gets there

[2020-04-28 17:20] premun opened #117 "[iOS] Remove empty logs"
Currently we are producing always 2 empty files. We should take a look at the end and omit them from Helix.

`stdout` and `stderr` are empty:
[code]

[2020-04-28 21:49] #115 closed

[2020-04-28 21:49] mandel-macaque opened #118 "[iOS] Tunnel argument is not respected when creating the listener."
When creating the tcp listener, the factory is not creating it using a tunnel which results in the application hanging.

The culprit is line: https://github.com/dotnet/xharness/blob/master/src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs#L114 which is set by default to false.

[2020-04-28 21:51] mandel-macaque opened #119 "[iOS] If tunnel process fails application hangs."
If the tunnel process has issues it makes the application hang, the main reason is that we do not listen to the task, and if it finishes we will never notify that the task was completed with an error.

Culprit: https://github.com/dotnet/xharness/blob/master/src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/TcpTunnel.cs#L77

[2020-04-29 09:13] premun opened #123 "`dotnet tool install` uses machine cache and doesn't install newest bits"
I am seeing following behavior:
1. I have the [Azure DevOps pipeline with E2E integration](https://dev.azure.com/dnceng/public/_build/results?buildId=622097&view=results) tests for XHarness.
2. In one step, I produce a debug version of the NuGet package with my tool that I want to test in the next step. The tool has **always the same version** `1.0.0-ci` since it is not being published anywhere.
3

[2020-04-29 09:17] premun commented on #123
Solution 1 will clutter the machine slowly
Solution 2 is yet to be tried

[2020-04-29 09:41] premun commented on #123
Solution 2 worked:

https://github.com/dotnet/xharness/commit/6eab0cae1e37502870d8c58c30f6680fb8175a62
https://dev.azure.com/dnceng/public/_build/results?buildId=622904&view=results

[2020-04-29 10:52] #88 closed

[2020-04-29 10:53] #118 closed

[2020-04-29 10:53] #119 closed

[2020-04-29 13:45] marek-safar commented on #53
@premun @mandel-macaque is there any ETA when this will be resolved?

[2020-04-29 14:32] premun commented on #53
@mandel-macaque I will take this and do it today

[2020-04-29 15:43] mandel-macaque opened #126 "[iOS] If targets contain simulators the tunnel is used."
xharness tries to use the tunnel when there are simulators in the targets. If there are any targets that are simulators, this should not happen since a tunnel cannot be created to a simulator.

[2020-04-29 16:10] #126 closed

[2020-04-29 16:38] mandel-macaque opened #128 "Move TestProject changes from xamarin-macios in TestProject."
This is related to the changed done in PR: https://github.com/xamarin/xamarin-macios/pull/8461 So that the expected code is present once we move to use the code in xharness in xamarin-macios.

[2020-04-29 16:53] #114 closed

[2020-04-29 19:37] premun commented on #53
@mandel-macaque is taking over this after all. ETA hopefully today, Manuel?

[2020-04-29 23:50] mandel-macaque opened #131 "xUnit filter creation should be using NRE or ArgumentException accordingly"
We do IsNullOrEmpty, lets use a more specific exception when possible.

[2020-04-30 00:36] mandel-macaque commented on #110
@premun that PR has an example on how to do it via refection, since that is set by arcade, is the simplest way :)

[2020-04-30 00:37] #53 closed

[2020-04-30 07:49] premun commented on #123
Some other pointers from Matt:
https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders
https://github.com/NuGet/Home/issues/4155

[2020-04-30 08:35] #91 closed

[2020-04-30 09:27] EgorBo opened #135 "[Android] Provide macOS/Linux support in Xharness CLI"
Xharness CLI is Windows only for Android at the moment.

[2020-04-30 09:30] premun commented on #135
@MattGal is working on this right now actually: https://github.com/dotnet/xharness/pull/129

You can try `1.0.0-prerelease.20229.6`. I am not sure what state it is in but might work on Linux already

[2020-04-30 09:31] EgorBo commented on #135
Ah, that's why I didn't find an issue for it 🙂
@premun @MattGal does it add macOS support as well?

[2020-04-30 09:34] premun commented on #135
I don't think it was planned but there is a good chance that if we get ADB for MacOS, it might work

[2020-04-30 10:41] #110 closed

[2020-04-30 10:46] mandel-macaque commented on #135
Should work with the mac os x adb, yes.

[2020-04-30 13:05] akoeplinger opened #137 "Fix ActiveIssue change"
The change in https://github.com/dotnet/xharness/pull/130 is wrong/unnecessary as it skips test methods with the attribute rather than skipping the `category=failing` trait generated by the [ActiveIssueDiscoverer](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.XUnitExtensions/src/Discoverers/ActiveIssueDiscoverer.cs) in the arcade xunit extensions.

We should instead just pass t

[2020-04-30 13:05] akoeplinger commented on #137
@mandel-macaque

[2020-04-30 14:10] EgorBo commented on #137
Tried the latest xharness (20230.1) and crashes
[code]

[2020-04-30 14:24] mandel-macaque commented on #137
@akoeplinger the -notrait is already supported in the runner via the traits file, that has to be provided by the subclass of the entry point. If the trait is failing, and is present, I don't know why I got a bug asking to support the filtering via the attribute. I'm getting confused.

From my point of view:

* Do we support traits: Yes, we always had. If that is what is needed, is already present

[2020-04-30 14:32] akoeplinger commented on #137
As discussed on Slack, we only need filtering via traits so the attributes filter can be removed.

[2020-04-30 15:30] MattGal commented on #135
Adding a usable Linux ADB "just worked" (as in I literally just changed the exe and stuff worked the same) so there's a good chance this will be easy, will do.

[2020-04-30 15:57] #137 closed

[2020-04-30 17:51] mandel-macaque opened #141 "[Runners] Expose LogExcludedTests so that we can log excluded tests."
Allow runners to set the LogExcludedTests to true to see which tests are ignored.

[2020-04-30 17:55] MattGal commented on #135
Fixed via https://github.com/dotnet/xharness/pull/140

[2020-04-30 17:57] #135 closed

[2020-04-30 18:39] #12 closed

[2020-04-30 23:18] #141 closed

[2020-05-01 02:19] mandel-macaque opened #143 "[iOS] Add Launch failure as a possible result for an executing."
The TestExecutingResult does not account for launch failures, we should add it as a possible out put of the tests and add the appropriate checks in the TestReporter.

[2020-05-01 14:27] steveisok opened #144 "Support running single tests"
In working w/ xharness, I was trying to run a single test in the same way we do on desktop.  I noticed this feature wasn't support in the way I would expect.

Most / all of our interaction w/ xharness is going to be triggered via msbuild.  So, given this property, I would like xharness to be able to run a single test:

`/p:XunitMethodName={FullyQualifiedNamespace}.{ClassName}.{TestMethodName}`

[2020-05-04 04:38] mandel-macaque commented on #144
@steveisok first step towards that dir: https://github.com/dotnet/xharness/pull/146

[2020-05-04 16:22] premun opened #151 "[iOS] mlaunch hangs when XHarness launched by Helix"
**Environment**
- There are 4 OSX machines with MacOS 10.15.4 and pre-installed Xcode 11.4 and the simulators
- I have a [helix payload](https://github.com/dotnet/xharness/blob/prvysoky%2Fintegration-tests/tests/integration-tests/osx-helix-payload.sh) that I am running from a [test pipeline](https://dev.azure.com/dnceng/public/_build/results?buildId=631666&view=results) using this build step:
[cod

[2020-05-05 06:59] #16 closed

[2020-05-05 17:41] MattGal commented on #151
I am stumped too.  I had a theory that the code we use (from proc.py) was blocking something, but that didn't repro when I used the same code to start your script.

My current theory is that this may be related to the python Helix client running as a service.

I think the thing to do is to increase logging to the point of knowing exactly which line fails.

[2020-05-05 20:22] MattGal commented on #151
Figured it out.  Still not sure what the fix is.  I discussed briefly with @wfurt and @ulisesh .

What I did
- Took all except dci-mac-build-051 offline
- unloaded the plist file for helix and made sure the client exited
- started the helix client from terminal
- Sent the representative work you had sent to the machine several times

Workitems:
[code]

The problem definitely seems to be related to

[2020-05-05 20:27] MattGal commented on #151
(we should also use the opportunity to combine our "start a process and get its output" code as there is a lot of duplication here I didn't know about)

[2020-05-05 22:09] premun commented on #151
Thanks for looking into this like this! Appreciated!

The problem is that it hangs inside the `mlaunch` binary which is a black box for us a bit. I can try compiling it from `xamarin/maccore`, adding extra logging and running it again.

I will also take a look at how to spawn a process differently and search a bit for the differences.

Thanks again!

[2020-05-05 23:43] wfurt commented on #151
In general, running interactive applications in background process is problematic. I don't know if the iPhone simulator is one, but that would be suspect. Maybe elaborate on how to start the simulator and focus on direct execution for now with as little craft as possible.
Some interactive programs have options for batch or background mode. The other alternative is to execute it using tmux or scree

[2020-05-06 14:08] premun commented on #151
So I did a bunch of experimentation and digging and with some pointers from Rolf I found following.

This is a method inside `mlaunch` that makes sure simulator is running and the correct simulator device is booted:

[code]

I left few comments in the code above, but these things happen:
1. We check if the process `Simulator.app` is running (`IsSimulatorRunning`)
2. If it is **AND** our device is

[2020-05-06 14:21] premun commented on #151
@mandel-macaque @MattGal I can pre-boot the simulators on the 4 OSX machines and add integration tests to our PRs. It is a bit hacky and not solid but hopefully they won't crash so this could work for us for the time being.

[2020-05-06 16:29] premun opened #154 "Make the verbosity setting to not expect value"

[2020-05-06 16:57] mandel-macaque opened #156 "[Runners] Remove ActiveIssue workaround."
The active issue was not ignored due to a bug in its discoverer, a fix was landed in arcade and a workaround in the runners. The workaround should be remove as soon as we have the correct package bump.

[2020-05-06 19:38] #154 closed

[2020-05-06 19:40] MattGal commented on #151
As long as it's reliable (survives device reboot, etc) that's a fine workaround for me.

[2020-05-07 09:12] premun commented on #151
Looks like @mandel-macaque has a fix for this, utilizing `sudo launchctl asuser`.

However, there are some issues with the listeners now. I will investigate those

[2020-05-07 12:48] premun opened #162 "[iOS] Simulator log file cannot be uploaded"
Helix returns:

  File \"/private/etc/helix/scripts/helix/azure_storage.py\", line 97, in upload\n    with open(file, 'rb') as f:
PermissionError: [Errno 13] Permission denied: '/tmp/helix/working/A72C08EE/w/9AE708E1/uploads/iPhone X (iOS 13.3) - created by xharness.log

Full logs here:
https://helix.int-dot.net/api/2019-06-17/jobs/457147f3-abcd-4a84-9c72-089723e43c62/workitems/WorkItem

[2020-05-11 15:46] mandel-macaque opened #168 "Tunnel fails on 32b devices"
Most runs work, but we have the following error:

[code]

[2020-05-11 16:37] #86 closed

[2020-05-13 01:03] safern commented on #144
Note that in runtime we transform this to a xunit parameter, `-method {FullyQualifiedNamespace}.{ClassName}.{TestMethodName}`

[2020-05-13 01:04] safern opened #177 "If instrumentation crashes xharness exits with code 0"
For example, I have an instrumentation that crashed:

[code]

and this is the Xharness output:
[code]

cc: @MattGal @EgorBo @steveisok @akoeplinger

[2020-05-13 02:33] mandel-macaque commented on #144
@steveisok before I get to this, should we just use the format that @safern mentioned? you use case is just for a developer using locally, correct?

[2020-05-13 02:38] safern commented on #144
Right the use case is for local debugging or testing to avoid running the whole test suite. This is supported by xunit via the `-method` or `-class` argument. In dotnet/runtime we provide an MSBuild hook via properties as @steveisok mentioned above:

https://github.com/dotnet/runtime/blob/9b5805f9dacee96bac80b2ab10e45e02a9369347/eng/testing/xunit/xunit.console.targets#L19-L20

https://github.com/x

[2020-05-13 02:54] MattGal commented on #177
Discussed offline, there is a result property bag for exit code set but this is only if that code runs;  XHarness already will fail for any non-0 exit code from the instrumentation itself, so we'll chat about solutions in the AM but this likely is something that has to be fixed in the instrumentation class.

[2020-05-13 03:32] mandel-macaque commented on #144
Then I think is best to add support for -method and -class, which is easy, and then the msbuild conversion can be reused.

[2020-05-13 14:46] premun commented on #151
@mandel-macaque this is still happening 😥 looks like if I don't log on to the machine for some time, the machine loses the GUI user session or something like that and then it starts happening again..

[2020-05-13 15:12] MattGal commented on #151
@ilyas1974 may have some context and suggestions here.  We've had stuff in place to make sure the macs are logged in to an interactive session in the past for other reasons (Docker?)

[2020-05-13 15:20] ilyas1974 commented on #151
@MattGal is correct - the systems should be auto logging in to an interactive session for docker. Do you have an example of system with this problem so I can take a closer look at what is going on with the system?

[2020-05-13 16:52] safern commented on #177
I think this is different than what we discussed. Here the Instrumentation crashed, so we didn't exit, if you look at the logs on a crash there is not even a exit code.

[2020-05-13 23:01] safern commented on #177
So @MattGal and I took a deeper look at this and it seems like when there is an unhandled exception the test runner we have handles it and calls `exit(1)`:

https://github.com/dotnet/runtime/blob/5859dadf20a9dae44624e0a79e48f1b3f1f26a0a/src/mono/msbuild/AndroidAppBuilder/Templates/runtime-android.c#L111-L125

So we don't get to call `finish` on the `Instrumentation` and the logs suggest that the a

[2020-05-13 23:10] MattGal commented on #177
I had actually baked in reliance on `return-code` but removed it when I saw the runtime PR for exit codes.  I will make this required and fail if it's not in the property bag of a given instrumentation, since we absolutely cannot tolerate ignoring crashes.  From discussing with @akoeplinger this seems like the simplest solution moving forward.

[2020-05-14 00:34] mandel-macaque opened #192 "[iOS] Notify the user that lldb is enabled in mlaunch and print the commands."
There is a way to tell mlaunch to launch the app in a debug session so that the user can use lldb to connect to the app. When the user has done the setup, we should notify that it is the case and print the commands to execute.

[2020-05-14 13:56] premun commented on #85
@mandel-macaque is this issue still happening?

[2020-05-14 14:10] premun commented on #108
I will have another stab at this one - it pains me so much that I cannot figure it out..

[2020-05-14 15:46] #117 closed

[2020-05-14 15:46] #162 closed

[2020-05-14 15:54] premun opened #196 "[iOS] Listing simulators hangs"
We are occasionally getting exceptions when listing simulators:
[code]

The real problem is inside the [`list-simulators.log`](https://helixre107v0xd6tv7v8isja.blob.core.windows.net/dotnet-xharness-refs-pull-195-merge-a1a285d820544dc3a5/WorkItem/simulator-list-20200514_062032.log?sv=2019-02-02&se=2020-06-03T13%3A20%3A07Z&sr=c&sp=rl&sig=buL428Vbe0hZgTBCLyAj%2F83gxsEHgRL3BZxSECBdSnQ%3D) file:
[code]

[2020-05-14 20:19] safern opened #199 "[Android] Application crashes with System.ObjectDisposedException"
We updated to latest xharness in dotnet/runtime and applications now crash with:
[code]

This seems like a fallout from: https://github.com/dotnet/xharness/commit/e2639f6bc1e6e319b73fc9d9452146c8503006ea#diff-a81c065b7fddc617d7eed55a78a04719R180

@mandel-macaque can you take a look?

cc: @steveisok @akoeplinger @EgorBo

[2020-05-14 22:17] EgorBo opened #201 "Can Xharness.CLI boot Android emulators?"
XHarness.CLI for iOS is able to boot iOS simulators without help, is it possible to do it for Android as well?

[2020-05-14 22:53] #199 closed

[2020-05-15 04:20] mandel-macaque opened #205 "[Runners] The SkipTestException tests are considered a failure in the xml result"
We added a fix to do not count the tests that raise a SkipTestException as a failure but as a Skip. The issue with that fix is that it just focused in the the handler, but not the actual test results.

Once everything has been ran, and xunit is used, xharness parses the results, and marks the build as a failure. The correct way to fix this is to modify the runner to use a correct test sink that **

[2020-05-15 04:22] safern commented on #205
fyi: @steveisok

[2020-05-15 09:28] premun commented on #196
@mandel-macaque this seems to happen only on one machines - `dci-mac-build-048`. I tried running XHarness there manually and it succeeded fine. I will try with the Debug package from the build

[2020-05-15 09:31] premun commented on #196
Hm, weird, I tried again with the exact same nupkg as used in the failing build (I had a new bad one) and it succeeded...

[2020-05-15 16:36] mandel-macaque commented on #192
This was fixed by https://github.com/dotnet/xharness/pull/204

[2020-05-15 16:36] #192 closed

[2020-05-15 16:40] mandel-macaque commented on #85
I'm going to take a look on a device and on a simulator

[2020-05-15 17:18] mandel-macaque commented on #85
Tested with the current master, everything works as expected. Could have been either related to the arch fix or to the issues in my machine.

[2020-05-15 17:18] #85 closed

[2020-05-15 17:19] mandel-macaque commented on #108
Confirmed this with the latests master when running on the simulator. Does not happen on device.

[2020-05-18 08:35] premun commented on #108
I originally thought it is happening because of these lines:
https://github.com/dotnet/xharness/blob/7f79598da0ffe62781affb5bab1fc477e479d767/src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs#L238-L249

In Xamarin, there was also redirection of stdout argument to the stdout. I removed that and now everything is sent to our stderr, which would correspond with the `SetStderrArgument` part BUT in every

[2020-05-18 12:54] premun commented on #151
This seems to be resolved by killing the Simulator.app and then starting it again:
https://github.com/dotnet/xharness/commit/c6fd4f291bfc2a8dfb7d46577959e3a9ba0fa132

[2020-05-18 12:54] #151 closed

[2020-05-18 13:09] premun commented on #108
Another observation:

If I call `dotnet xharness ios test ... 2>/dev/null` this goes away, however, if I call it with `2>foo.txt` then `foo.txt` will be an empty file

[2020-05-18 15:16] MattGal commented on #201
Possibly (I'm fighting an issue with them being offline already), but what's the goal here?  Currently for the emulator setup we have, they're booted as services by systemd.

The tricky part we'd have to solve for this is that the location of the executable would not be known so resolution of the path becomes a challenge.

[2020-05-18 15:18] EgorBo commented on #201
@MattGal

To be consistent with iOS where Xharness does boot them

what executable?

[2020-05-18 15:20] MattGal commented on #201
The emulator.  On linux, it's $ANDROID_SDK_ROOT/emulator/emulator , but this could be anywhere.

[2020-05-18 15:52] MattGal commented on #201
@EgorBo , after discussing with the other XHarness team members I think this is a non-starter for Android.  When using iOS simulator, one always knows the OS (it's always MacOS) and the simulator is always in a static location relative to XCode.  On Android, we support running from Windows, Linux, and MacOS, there can be any number of emulators and devices attached to the machine, and the location

[2020-05-18 21:23] #108 closed

[2020-05-18 21:23] #143 closed

[2020-05-20 14:14] premun opened #218 "[iOS] XHarness fails to run on iOS 32bit Simulator"
mlaunch errors:
[code]

Error from Simulator log:
[code]

[[full simulator logs]](https://gist.github.com/premun/a82f48e814cabbfc8450adfdc982ee12)

Unclear whether mono or our issue. Most likely some other working (Xamarin) app should be tested as well to find out..

[2020-05-20 23:01] akoeplinger commented on #218
The key point from the simulator log is this:

This means you're trying to run the 64bit app which obviously won't work :)

We'll need to provide you with a 32bit version of the test app to test this.

[2020-05-21 01:59] mandel-macaque opened #220 "[Tests] Logger tests are flaky"
The FileLogger tests give problems on Windows in some cases due to the fact that the file is in used. Does not always happen.

[2020-05-21 03:14] #144 closed

[2020-05-21 08:00] premun commented on #218
Thanks! You're right, totally didn't realize this, I'm an idiot. Closing this..

[2020-05-21 08:00] #218 closed

[2020-05-21 10:30] premun commented on #220
I have seen this happen before when fixing (back then) Xamarin unit tests on Windows:
https://github.com/xamarin/xamarin-macios/pull/8208

Most of them did File.Create which gets you a handle instead of WriteAllText which just does the write. It will be something similar.

We also have another case here where we have a flakey test that scans Console.Out contents and that can go wrong when running

[2020-05-21 14:58] premun commented on #196
Ok, this is becoming a priority now - we are seeing it in the other OSX queues that I rolled out Xcode too

[2020-05-21 15:44] premun commented on #196
So what is actually happening here is that mlaunch hangs and gets killed by timeout

[2020-05-22 10:16] EgorBo opened #223 "[iOS] xharness doesn't boot ios simulators"
None of the tests work for x64 in dotnet/runtime due to "Failed to find suitable device for target ios-simulator-64" in Xharness.

Xharness CLI: 1.0.0-prerelease.20271.3 (latest as of today).

Command:
[code]
Output:
[code]

Log:
[code]

[2020-05-22 10:19] premun commented on #223
@EgorBo please make sure Xcode 11.4 is installed on your system together with iOS 13.4 Simulator

[2020-05-22 14:54] premun opened #225 "RunOnDeviceWithSkippedClassesTest is flaky"
Getting the local IP addresses for the Mlaunch arguments failed but maybe not a big deal:
https://dev.azure.com/dnceng/public/_build/results?buildId=657170&view=ms.vss-test-web.build-test-results-tab&runId=20395630&resultId=100335&paneView=debug

**Error message**
[code]

**Stack trace**
[code]

[2020-05-22 15:19] premun commented on #223
This was resolved by installation of iOS 13.4 Simulator. I have improved the errors to make it more clear that this is the cause

[2020-05-22 15:19] #223 closed

[2020-05-22 15:20] premun commented on #96
Fixed in #224

[2020-05-22 15:20] #96 closed

[2020-05-25 11:46] premun commented on #196
I have done a lot of testing and it all comes down to an exception being thrown from this line:
[code]
the exception being:
[code]

which doesn't make much sense to me..

[2020-05-25 13:29] premun commented on #196
Latest investigations show that it is not a hang but an exception where mlaunch returns content successfully but returns non-zero exit code.
The hang was caused by everything being wrapped in `Task.Run(() => ...)` and not getting the exception out rightaway.

[2020-05-25 16:03] premun commented on #196
Looks like mlaunch sometimes times out but publishes the device list successfully and in those cases we don't have to fail.

Sometimes mlaunch returns the exit code 137 and fails

[2020-05-26 08:54] premun commented on #196
Retry logic seems to fix this, I ran 60 jobs and no occurrence. Before was 1-2 times per 10 jobs

[2020-05-26 14:21] #220 closed

[2020-05-27 10:13] #196 closed

[2020-05-27 21:24] #123 closed

[2020-05-28 07:41] premun opened #232 "Android failed the Arcade CI"
[code]

Full logs: https://helix.dot.net/api/2019-06-17/jobs/de03a1d5-01aa-4c76-80c4-8a9d49186a7e/workitems/xharness-System.Numerics.Vectors.Tests-x86/console

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=661523&view=logs&j=21143b0a-ace1-5058-215e-b11404388d17&s=ee3800fd-6e81-525f-e564-94108585217d

Note: This is after the bump done in https://github.com/dotnet/arcade/pull/555

[2020-05-28 15:06] MattGal commented on #232
This is unrelated to the version bump, it's just a crash in the app:

[code]

[2020-05-28 15:58] premun opened #239 "Maestro doesn't seem to flow Arcade SDK to us"
I noticed this already last week when I wanted to use the new Helix SDK.

I did following few days ago and today as well and no PR opened:
[code]

But this is my first time using `darc` and maybe I don't have the right command?

[2020-05-29 19:57] akoeplinger opened #243 "Cleanup and address WASM feedback from #242"
Address the feedback from https://github.com/dotnet/xharness/pull/242

[2020-06-01 07:33] premun commented on #239
Ah, the build just didn't get promoted

[2020-06-01 07:33] #239 closed

[2020-06-01 10:38] premun opened #245 "[iOS] App installation hangs"
This started happening lately, mostly in the Arcade CI:
[code]

Example logs:
https://helix.dot.net/api/2019-06-17/jobs/bee351fc-17a1-44e7-8628-56af5c9acb33/workitems/xharness-System.Numerics.Vectors.Tests
https://helix.dot.net/api/2019-06-17/jobs/ff01345a-4ff8-44a6-955f-2c360abdde45/workitems/xharness-System.Numerics.Vectors.Tests

But it also happened in our CI:
https://helix.dot.net/api/2019-06

[2020-06-03 13:48] premun commented on #245
Seems to be happening on these machines only:
- `dci-mac-build-137`
- `dci-mac-build-138`
- `dci-mac-build-142`
- `dci-mac-build-147`
- `dci-mac-build-148`

Rest of them seems to be doing OK. These machines have never had a successful job I believe. Will investigate more over SSH

[2020-06-04 20:50] mandel-macaque commented on #225
That is due to the network setup, happens when the router cannot find the device. Are we using the usb? We might want to do something about it where we ignore the error.

[2020-06-04 23:54] mandel-macaque commented on #205
Closing after a conversation with @safern and @akoeplinger about the other route that will be taken.

[2020-06-04 23:54] #205 closed

[2020-06-05 08:09] premun commented on #72
@mandel I would just close this one? Mono.Options is tiny and dependency-less. The NUnit/xUnit runners are way bigger and this brings value to us actually.

[2020-06-09 16:12] premun opened #254 "Add support for passing arbitrary arguments to the mono runtime"
**Goal**
We should be able to pass extra arguments to the Helix SDK and they should flow all the way to the mono runtime inside of the iOS/Android app.

**CLI proposal**
We should leverage the Pass-through arguments that we set up for WASM:
[code]

**What needs to happen**
- [ ] Pass-through args are allowed for the `ios test` command and passed onto the mlaunch using the `SetAppArgumentArgument`

[2020-06-09 17:12] #156 closed

[2020-06-10 09:15] premun commented on #254
PR for the first part is here: https://github.com/dotnet/xharness/pull/257

[2020-06-10 20:31] mdh1418 opened #258 "XHarness exits with code 1 during iOS testing even with test suite skip"
Adding an assembly level active issue to skip a test suite leads to a build failure of `XHarness exit code: 1`

Expectation:
Tests skipped and build succeeds

Repro:
Add an `AssemblyInfo.cs` file to `src/libraries/System.Globalization/tests/`

[code]

and `<Compile Include="AssemblyInfo.cs" />` to
`src/libraries/System.Globalization/tests/System.Globalization.Tests.csproj`

Build and run the iOS t

[2020-06-11 08:03] premun commented on #258
@akoeplinger I am a bit confused about the `[ActiveIssue]` attribute - I thought this could be handled by the trait files on your end and hence this https://github.com/dotnet/xharness/pull/255?

[2020-06-11 08:40] premun commented on #258
Oh, I get it - it does skip it correctly, but XHarness returns 1.. Will fix it ASAP

[2020-06-11 09:11] premun opened #260 "Make finding iOS Simulators smart around iOS version"
**Context**
Currently, when we specify we want to run tests on iOS Simulator, XHarness uses its hardcoded iOS versions to look for one and if it doesn't find it, it fails. Right now it means that it requires iOS 13.5 which comes together with Xcode 11.5.
XHarness also allows to specify Xcode version but this stops to make sense if the only version it can work with right now is 11.5.
This breaks ma

[2020-06-11 13:51] premun commented on #258
@mdh1418 fix is here: https://github.com/dotnet/xharness/pull/262

[2020-06-11 15:35] #260 closed

[2020-06-11 15:37] #254 closed

[2020-06-11 16:11] #258 closed

[2020-06-12 14:41] premun commented on #258
@mdh1418 if you will update to version **1.0.0-prerelease.20311.4** and later, it has the fix inside

[2020-06-12 17:21] directhex opened #264 "[Wasm] Awful error message if JavaScript engine not found"
If the `v8` command is not in `$PATH`, the following happens:

[code]

This isn't very user friendly!

[2020-06-15 12:43] premun commented on #225
This was fixed by introduction of `GetLocalIpAddresses()` on `IHelpers`

[2020-06-15 12:43] #225 closed

[2020-06-15 14:05] premun commented on #245
Killing the simulator after the job seems to help for this. I ran another 500 jobs and there were no indefinite hangs. XHarness killed itself properly each time and Helix didn't have to do anything.

There were 5 timeouts only:
- [`System.Net.Sockets.Tests`](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-37898-merge-f647b6eabd9e480595/System.Net.Sockets.Tests/conso

[2020-06-15 14:44] #264 closed

[2020-06-16 15:06] akoeplinger opened #268 "lldb backtrace fails with an exception when lldb is not installed"
Saw this on a Helix run:
[code]

We should probably catch the exception when lldb can't be found.

/cc @premun

[2020-06-16 15:35] akoeplinger commented on #72
Yeah I agree, using Mono.Options sounds fine.

[2020-06-16 16:55] #72 closed

[2020-06-17 08:54] premun commented on #268
@akoeplinger I will look into it

In the meantime - looks like you haven't set the proper env variables to make the logs look a bit better:
[code]

[2020-06-18 10:26] #268 closed

[2020-06-22 13:23] akoeplinger opened #273 "xharness uses macOS ProcessManager on Linux"
It tries to load the wrong libc:

[code]

/cc @premun

[2020-06-24 12:17] #273 closed

[2020-06-24 15:01] #245 closed

[2020-07-02 14:34] premun opened #283 "[iOS] mlaunch takes long time to list Simulator devices"
We retry listing simulators 3 times but it fails each time with:
[code]

Examples:
- https://helix.dot.net/api/2019-06-17/jobs/6c7f20d9-ef8a-4adc-a37c-5be927b1ea61/workitems/System.Numerics.Vectors.Tests/console
- https://helix.dot.net/api/2019-06-17/jobs/503c156a-1c2c-4e78-9581-941d6cde7ab8/workitems/System.Numerics.Vectors.Tests/console
- https://helix.dot.net/api/2019-06-17/jobs/d6aa791c-9e38-4

[2020-07-27 10:51] premun commented on #283
This seems to be happening still:
- https://helix.dot.net/api/2019-06-17/jobs/943f0a60-00f1-4b2e-8b4e-127603079422/workitems/Microsoft.Extensions.Configuration.Ini.Tests/console
- https://helix.dot.net/api/2019-06-17/jobs/943f0a60-00f1-4b2e-8b4e-127603079422/workitems/System.Net.ServicePoint.Tests/console
- https://helix.dot.net/api/2019-06-17/jobs/943f0a60-00f1-4b2e-8b4e-127603079422/workitems/Sy

[2020-07-27 13:36] premun commented on #245
This still seems to be happening:
https://helix.dot.net/api/2019-06-17/jobs/2b3a04fd-d9be-4324-a9bf-840e02c58b07/workitems/System.Numerics.Vectors.Tests/console

[code]

[2020-07-29 11:04] premun commented on #283
So looks like these machines fail:
- `dci-mac-build-136`
- `dci-mac-build-137`
- `dci-mac-build-138`
- `dci-mac-build-141`
- `dci-mac-build-142`
- `dci-mac-build-143`
- `dci-mac-build-144`
- `dci-mac-build-145`
- `dci-mac-build-146`
- `dci-mac-build-147`
- `dci-mac-build-148`

I will try to reproduce there and see what's up

[2020-07-29 15:38] premun opened #286 "Packaging of ADB leaves behind unused JS files that trigger security alerts"
When we download ADB, we only copy the binary and leave the rest behind.
The rest contains JS files which are left extracted in `/artifacts/obj` and when [Component Governance scans dependencies](https://dev.azure.com/dnceng/internal/_componentGovernance/dotnet-xharness?_a=alerts&typeId=2978617&alerts-view-option=active) it flags some of those and creates alerts.

We can delete the leftover files

[2020-07-30 15:43] #286 closed

[2020-07-30 16:38] premun commented on #286
![image](https://user-images.githubusercontent.com/7013027/88949712-e5769200-d293-11ea-91a3-2c044d2212ef.png)

[2020-08-04 09:35] premun commented on #283
Still happening about 5% off the runs:
[code]

This times out even though I increased it to 1 minute as compared to Xamarin macios where it is 30 seconds.
It times out 3 times in a row and then the build fails.
Sometimes it times out but leaves the result XML behind but that we can handle already.

[2020-08-13 11:24] premun commented on #283
I have found the root cause:
1. When listing of Simulator devices would fail for some reason (timeout which was set to 30 seconds), we would mark `SimulatorLoader` as `loaded` but no devices where in the memory.
2. Since no devices would fit our requirements when running a test, we would create a new iOS Simulator device. There would probably be a duplicate one that we have created previously alre

[2020-08-13 15:37] premun commented on #283
Seems to be still happening...

[2020-08-19 11:21] premun commented on #283
Through investigation, I learned that it helps to reduce the number of Simulator devices (instances of phone chassis + runtime - say iPhone 11 - iOS 13.5), so I have removed all devices from all machines and [added](https://dev.azure.com/dnceng/internal/_build/results?buildId=777686) that to our `macos-xcode` artifact.

- I found out that some machines just take longer (2-4 minutes) than other mac

[2020-08-19 15:19] #232 closed

[2020-08-19 15:20] #283 closed

[2020-08-24 12:17] premun opened #302 "Integration tests for the `wasm test-browser` command"
Currently, we have integration tests set up for `ios test`, `android test` and `wasm test` in `dotnet/xharness` PR builds.
We should also cover `wasm test-browser` to prevent breaking runtime.

[2020-09-08 14:14] premun opened #305 "The machine hangs on app installs"
A specific machine always hangs when installing an application.

I tried to remove the simulator device but didn't help.

Examples:
- [System.Xml.RW.XmlWriterApi.Tests](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-37476-merge-609ad3f9eb5140ca8b/System.Xml.RW.XmlWriterApi.Tests/console.1997f70c.log?sv=2019-02-02&se=2020-09-27T11%3A26%3A09Z&sr=c&sp=rl&sig=ER6SzmPlL

[2020-09-16 12:01] premun commented on #305
I didn't figure out the root cause. Re-install of Xcode most probably helped but I am not 100% sure on that. Regardless, lpatalas used the machine to test .NET 5 dev flows and I had it re-imaged as per the linked issue

[2020-09-22 17:13] steveisok opened #308 "Device Acquisition Timeout on Android Devices"
As part of https://github.com/dotnet/runtime/pull/42209, we ran into the follow failure:

#### Microsoft.Extensions.Configuration.Xml.Tests

[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-42209-merge-d87f39a1bd164984be/Microsoft.Extensions.Configuration.Xml.Tests/console.e9d49f12.log?sv=2019-07-07&se=2020-10-07T18%3A26%3A16Z&sr=c&sp=rl&sig=iwpzzVB%2BzFvQ6nYv6

[2020-09-29 13:07] premun opened #317 "SimulatorInstaller integration tests started to fail"
https://dev.azure.com/dnceng/public/_build/results?buildId=835171&view=logs&s=d4b4f0c3-d98a-508d-92b8-df9280b31a63&j=fa8a302a-a516-5821-097d-1410fc82220b

Somehow bash starting to act differently and is returning `list[0]` instead of the actual value:
[code]
and here:
[code]

[2020-09-30 08:19] premun opened #318 "Update package publishing to v3"
Details here:
https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Publishing.md#how-to-upgrade-from-v2-to-v3

[2020-09-30 13:46] #317 closed

[2020-09-30 15:29] #318 closed

[2020-10-01 10:13] premun opened #322 "Preserve new lines in log messages"
After we upgraded the logging extensions, multi-line log messages are put into a single line.
This causes several problems such as exception stack traces or other help/error messages that relied on this are hard to read:
[code]

[2020-10-02 18:07] #322 closed

[2020-10-20 10:54] premun commented on #305
This started happening on 10 more machines: https://github.com/dotnet/core-eng/issues/11217

I was able to repro this. The logs indicate that the iPhone booted but it was stuck on the Apple logo and booting loader screen. XHarness timed out and then it quit. After that, the iPhone booted.

The whole MacOS machine was laggy and super slow regardless of XHarness.

[code]

[2020-10-22 08:59] premun commented on #305
Reboot has fixed this but we ain't got the root cause determined yet

[2020-10-23 16:08] akoeplinger commented on #177
This was addressed with https://github.com/dotnet/xharness/pull/190

[2020-10-23 16:08] #177 closed

[2020-10-23 19:21] safern opened #335 "[Android] test failures are not shown on console log"
When a test fails on CI and you got to the console logs, the test failures are not shown, and so the only way to get them is going to the AzDo CI test tab. This is confusing for people as at first sight, it looks like the instrumentation crashed. i.e: https://github.com/dotnet/runtime/issues/43781

cc: @akoeplinger @MattGal @eerhardt

[2020-10-27 09:43] premun opened #337 "Occasional DirectoryNotFoundException in ios state command"
The `ios state` command fails occasionally in Arcade CI:
[code]

Example:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-arcade-refs-pull-6457-merge-f5245acd21af418fb7/xharness-ios-state/console.31a57d73.log?sv=2019-07-07&se=2020-11-15T15%3A13%3A27Z&sr=c&sp=rl&sig=4susiF7HbchtXKfX6%2Bt%2Fg%2FK389duEngtCR%2FIsyjuwWY%3D

[2020-10-27 09:44] premun commented on #337
Also this Arcade step should fail the build after this is resolved.

[2020-10-27 10:06] akoeplinger opened #338 "xharness sometimes doesn't parse the return-code"
Example test run: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-43804-merge-9c3fe24fa96341daa0/System.Xml.RW.FactoryReader.Tests/console.c6b2c6e3.log

It says:
[code]

However if you look at the adb log you see that the test run completed successfully and we returned the correct `return-code` key:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runti

[2020-10-27 10:45] akoeplinger commented on #338
The issue is probably somewhere here:

https://github.com/dotnet/xharness/blob/e26ccfae0b1a38add2abb04104e4666c9b011d82/src/Microsoft.DotNet.XHarness.Android/Execution/AdbProcessManager.cs#L70-L84

The presence of the locks indicate to me that we hit a case where it was still writing to the stdout StringBuilders even after the 1 second timeout, which could mean we missed some events.

Comparing th

[2020-10-28 21:34] jkoritzinsky commented on #338
dotnet/runtime issue https://github.com/dotnet/runtime/issues/43983 is tracking this issue.

[2020-11-02 12:23] premun commented on #337
This steps was failing because one of the machines didn't have `xcode-select` pointing to the Xcode installation but to the Xcode command line tools. That's why it only failed occasionally when it hit this one machine.

I verified that this machine was the only one with this issue:
[code]

Error message improved here https://github.com/dotnet/xharness/pull/349

[2020-11-02 14:48] akoeplinger commented on #338
Seems to be fixed now.

[2020-11-02 14:48] #338 closed

[2020-11-02 20:24] #337 closed

[2020-11-04 11:37] premun opened #351 "Investigation - Splitting XHarness CLI by platform"
This is a summary of investigations around benefits of splitting up the CLI based on platform (Android, iOS and WASM).
Since every platform adds baggage (ADB, mlaunch, WebDriver) onto the final size of the .NET tool we produce, we could split up the NuGet into separate packages to lower the bandwith needed when executing Helix jobs.

### Measured savings on bandwith

I did a quick test and removed

[2020-11-04 19:48] safern opened #352 "[BROWSER] ThreadlessXunitTestRunner doesn't honor traits on base abstract classes"
In a case like this:
[code]

The tests would fail for `DerivedClassWithBasePlatformSpecific` even when [PlatformSpecificDiscoverer](https://github.com/dotnet/arcade/blob/5c980f8b781269ea5735d17ea62c87e9cbc50591/src/Microsoft.DotNet.XUnitExtensions/src/Discoverers/PlatformSpecificDiscoverer.cs#L28) would return a failing trait and we specify `-notrait category=failing` as arguments to the test runn

[2020-11-04 20:27] safern commented on #352
This is actually not a bug... this is XUnit design. See: https://github.com/dotnet/runtime/pull/44252#issuecomment-721945330

[2020-11-04 20:27] #352 closed

[2020-11-05 17:15] steveisok opened #354 "Install / Uninstall apk Sometimes Fails on Android"
There are some runs indicated in https://github.com/dotnet/runtime/issues/44306 that show either the apk could not be installed or removed.  Good examples of this are in:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-0d80c385864846a9b0/JIT/console.17d80b24.log?sv=2019-07-07&se=2020-11-22T18%3A21%3A05Z&sr=c&sp=rl&sig=7poXAdaraL1BwYAj7GxDrIhZLK%2F9Uo6PZg8P0

[2020-11-05 17:20] akoeplinger commented on #354
This is most likely the adb server process getting wrecked somehow. We might be able to fix it by running `adb kill-server` and `adb start-server` to reboot it.

[2020-11-05 17:20] akoeplinger commented on #354
/cc @MattGal

[2020-11-06 15:08] premun opened #355 "Add ErrorKnowledgeBase item for failures because of no active user session"
When there's no active user session, XHarness cannot start the simulator. The failure logs look like this:
[code]

Full logs:
https://helixre107v0xd6tv7v8isja.blob.core.windows.net/arcade-master-6e9486f2fccb439d80/Microsoft.Extensions.Configuration.UserSecrets.Tests/console.7eb0803f.log?sv=2019-07-07&se=2020-11-26T14%3A39%3A49Z&sr=c&sp=rl&sig=eRPv%2BBAomrC6T6ytO%2FgvtmeKxArqrk6aaiMtxkg42Zg%3D

We

[2020-11-06 15:23] premun commented on #355
Actually, something else might be happening.. I have an open session and it is still not working

[2020-11-11 12:15] premun opened #358 "iOS test run logs are confusing"
There seem to be log statements in wrong order in some cases and some should not even be logged.

For example in this job: https://helix.dot.net/api/2019-06-17/jobs/6b3937d6-897f-45b1-93d9-885191f3b8dc/workitems/HelloiOS
The application doesn't even have TestRunner and still we see the following logs:
[code]

This is tied to events such as TCP listener received a connection from within the app.
We

[2020-11-12 18:15] tkapin commented on #354
@MattGal do you want to look into this or you'd prefer us to investigate? Cheers!

[2020-11-12 18:50] MattGal commented on #354
I'm happy to have you all investigate...  my thoughts here is if adb install fails it should perhaps time out earlier (5 minutes is the default in Xharness) and retry, requesting an infra retry and machine reboot if it fails.  If you need me to be involved though I can be.

[2020-11-12 19:38] akoeplinger commented on #354
@MattGal in this case there's no timeout, adb fails immediately with the "Broken pipe" error (see the timestamps in the log).

[2020-11-16 13:50] MaximLipnin opened #363 "[iOS] Recognize the successful run of mono sample application"
This is related to https://github.com/dotnet/runtime/issues/43865.

Xharness is used to run runtime library tests on iOS simulator/device. This way we could run the mono samples (iOS, in particular) in order to make sure that they work. Some work to incorporate the sample into library test build has been done in https://github.com/dotnet/runtime/pull/44462. The problem at the moment is that xharne

[2020-11-16 14:09] MaximLipnin commented on #363
cc/  @premun  @akoeplinger

[2020-11-16 14:38] akoeplinger commented on #363
I think the main point is that we shouldn't assume an iOS app will have xunit/nunit tests in it, but instead just have a normal C# Main() that returns an exit code.

[2020-11-16 18:23] MattGal commented on #354
Merged PR that does a single retry here, and moved the issue to validate.  If this doesn't make the problem go away I want to teach XHarness how to ask for reboot / retry when it detects it's running in Helix.

[2020-11-18 09:31] premun opened #364 "Detect exit code of iOS apps"
**Context**
Currently, XHarness and mlaunch are unable to detect exit code of the iOS app that was spawned.
For scenarios where we don't have a TestRunner inside of the application, we have no information about the app run at all.

**Goal**
We should investigate if this is easy to do. Rolf confirmed that this was hard to do reliably across all iOS versions but we might just start doing it from the

[2020-11-18 09:38] premun opened #365 "Support running iOS apps without a TestRunner"
**Context**
Some iOS apps we will deploy won't necessarily have the TestRunner inside. For these cases, XHarness currently exits with a non-zero exit code as it never receives test results:
[code]

Helix SDK also exits when it doesn't detect any XML results:
https://github.com/dotnet/arcade/blob/a9a80fb35d2e7da21509441d665a40022ce8f1b4/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/ios-helix

[2020-11-18 09:39] premun commented on #363
I think this issue is a mix of 2 things that need to happen. We will split this effort with Katya. I created 2 issues that describe what needs to be done: #364 and #365.

Closing this one.

[2020-11-18 09:39] #363 closed

[2020-11-18 12:47] premun commented on #364
@MaximLipnin the detection of exit code via system log won't work for iOS devices but only for simulators. This is because system log from device is streamed from the device via the TestRunner. So it looks like it will be an incomplete solution. Is this good enough for your scenarios?

[2020-11-18 13:03] MaximLipnin commented on #364
I think it's fine for now to have something work for simulators only. At least it will allow us to build the entire flow where the mono ios sample is incorporated.
@akoeplinger What do you think?

[2020-11-18 13:12] premun commented on #364
Ah, sorry, it is possible to pull device logs via mlaunch actually. I will dig into this more..

[2020-11-18 13:22] steveisok commented on #354
@MattGal I have noticed that there are other, seemingly similar failures with different exit codes.

See https://github.com/dotnet/runtime/issues/42548#issuecomment-729597494 for the latest example.

What does xharness exit code 78 mean?  I've found multiple rows in kusto with that exit code.

[2020-11-18 13:30] premun commented on #354
@steveisok 78 seems to be `PACKAGE_INSTALLATION_FAILURE`

https://github.com/dotnet/xharness/blob/master/src/Microsoft.DotNet.XHarness.Common/CLI/ExitCode.cs

[2020-11-18 17:08] MattGal commented on #354
This failure mode is not what I made a PR for, is not the log at the top, but it is the one I was talking about in this comment.  I will investigate after I finish my inbox this morning, but my sense here is if adb uninstall fails, the emulator / device is in a broken state and _this_ is the case where an infra retry / machine reboot makes good sense.

[2020-11-19 12:55] premun commented on #365
I have finished the refactoring. Missing are tests and the exit code detection piece.

Code is in my branch `premun/prvysoky/ios-run`

[2020-11-20 12:29] steveisok commented on #358
In my experience, cases like these also do not report the underlying error.  We'll have to go in and actually run the xcode project to get an idea of what went wrong.

[2020-11-20 22:39] steveisok opened #371 "Support Launching tvOS Apps"
Since tvOS is a valid .NET 6 target, we need to tweak xharness to support launching the app.  From what I've seen, everything looks good except the part where we launch the right simulator.  We should add a new switch for tvOS and act accordingly.

[2020-11-21 00:27] steveisok commented on #371
I take that back.  Read the code and it is supported / works

[2020-11-21 00:27] #371 closed

[2020-11-24 03:10] PureWeen opened #375 "Support Xamarin.UITest"
[Archive.zip](https://github.com/dotnet/xharness/files/5587157/Archive.zip)

The attached project is just a basic sample created from the VS MAC Xamarin.Forms Templates. I've added a cake script so you can run the tests from the command line

### Command line

Make sure to startup a single device

[code]

### Visual Studio
You can also open up the SLN file and run the test via the test runner in V

[2020-11-24 16:39] premun commented on #375
@PureWeen can you please show me where is the code for the Cake tasks in `build.cake`? Things like `ListAppleSimulators` or `LaunchiOSApplication`

[2020-11-24 17:38] mandel-macaque commented on #375
After taking a quick look, these are the possible steps that we need to take to be able to enable the Xamarin.Forms team to move foward:

## iOS

- [ ] Verify that the UITestsApplications are correctly launched.
- [ ] Identify the communication channel used by [calabash-ios](https://github.com/calabash/calabash-ios).
- [ ] Modify calabash-ios to use the TCP tunnel.
- [ ] Orchestrate the execution

[2020-11-24 18:23] PureWeen commented on #375
@premun

https://github.com/cake-contrib/Cake.AppleSimulator

It looks like most of the commands are built here
https://github.com/cake-contrib/Cake.AppleSimulator/blob/beb5e9b60b4d8ea5bbc706d90f67979c634386f0/src/Cake.AppleSimulator/SimCtl/SimCtlRunner.cs#L107

And then they are fed to xcrun
https://github.com/cake-contrib/Cake.AppleSimulator/blob/beb5e9b60b4d8ea5bbc706d90f67979c634386f0/src/Cake

[2020-11-25 09:44] premun commented on #305
This has come back - reboot of the simulator doesn't help since it needs more time to boot.

I will add infra retry + reboot to see whether this helps.

This time it happened with:
- `dci-mac-build-133`
- `dci-mac-build-136`
- `dci-mac-build-146`
https://github.com/dotnet/runtime/issues/45181

@parose I will be taking these three offline, so you might get an alert.

[2020-11-25 14:30] premun commented on #365
Will keep this opened until we get the SDK changes in

[2020-11-25 14:31] premun commented on #364
Will keep this opened until we get the SDK changes in

[2020-11-26 00:23] mattleibow opened #380 "CLI for running Android tests should allow specifying API level"
It would be nice to be able to specify some API level which will then provide a filter for selecting the emulator.

[2020-11-26 09:19] premun commented on #380
cc @MattGal

[2020-11-26 13:06] #364 closed

[2020-11-26 21:48] mattleibow commented on #354
This may or may not be related, but it also seems to be that it tries to install to early.

I have a script that creates and boots the emulator, and then runs xharness. It has been failing on CI and locally (sometimes). However, if I boot up the emulator and then wait a bit, it installs packages just fine. It is also deceiving in that subsequent boots seem to work, but this is due to the fact that

[2020-11-27 09:19] #365 closed

[2020-11-27 18:31] akoeplinger commented on #354
@mattleibow interesting, I'd have thought `wait-for-device` would only return once the device is ready ¯\_(ツ)_/¯

I guess we can add `adb shell getprop sys.boot_completed` to make sure.

[2020-11-27 18:35] akoeplinger commented on #354
or maybe add `-delay-adb` to the emulator command line: https://androidstudio.googleblog.com/2019/05/emulator-2907-canary.html ?

btw. when you say "it has been failing on CI" you don't mean the Helix queues right? the emulator should always be running there.

[2020-11-27 18:37] mattleibow commented on #354
"it has been failing on CI" refers to the default Azure hosted bots. I have to manually download, install, create and then spin them up.

[2020-11-27 18:52] mattleibow opened #383 "Create a "default" or "common" instrumentation base"
When I am creating my Android apps, I have to implement an `Instrumentation` class. This is fine and works very well, however, I can't help but feel that this is somewhat "boilerplate". And I am sure I am doing it wrong.

For example, this is my edition: https://github.com/xamarin/Essentials/blob/cc08b9608999f40db02501cd27f3c7086e60eba7/DeviceTests/DeviceTests.Android/TestInstrumentation.cs

Or an

[2020-11-27 22:49] mattleibow opened #384 "Failing launches on older (API 23) Android emulators"
I have a few runs on API 30, 29, 26, and 23. I get a good run on all each time, except for API 23. I randomly get a failure on DevOps (using the default hosted agents), but it appears to work locally.

Logcat:

[adb-logcat-com.microsoft.azure.devicetests (3).log](https://github.com/dotnet/xharness/files/5609733/adb-logcat-com.microsoft.azure.devicetests.3.log)

Console log:

[code]

[2020-11-27 23:03] mattleibow commented on #384
I am just running a test on which APIs exactly fail... Will keep everyone posted for these old boys!

[2020-11-29 03:02] mattleibow opened #385 "What is the correct "test-results-path" value for Android?"
I have tried a few places, but it seems xharness can't access the files:

I am trying this now:
`Application.Context.GetExternalFilesDir(null)?.AbsolutePath`

[code]

And another thing is that the failed pull does _not_ actually fail the command. I still get a 0 return code and so all my builds were passing. I only noticed when I was looking for the results.

[2020-11-29 19:40] mattleibow commented on #384
I think it starts on API 24. I did a retry and now it is working... This _should_ be on a fresh image, but sometimes it fails. Not sure why it gets inconsistent.

[2020-12-01 19:18] mattleibow opened #387 "Add UWP support"
This is very useful to have as they do form about 20% of mobile apps.

[2020-12-02 12:03] mattleibow commented on #383
This is actually a good thing for most because the bit for parsing the CLI arguments to do the filter and excludes is a non-trivial task. Doing this once in a library will be useful.

[2020-12-02 15:03] akoeplinger commented on #354
So looks like the https://github.com/dotnet/xharness/pull/388 is working for fixing the issue we saw during apk installation on some of the physical machines, I saw one machine got [autofixed](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-45459-merge-5f2c463f01024d8da2/Microsoft.Extensions.FileProviders.Physical.Tests/console.b9ff96c9.log?sv=2019-07-07&se=2020-12-

[2020-12-02 20:57] MattGal commented on #385
@mattleibow in the earliest versions of XHarness Android support, I would set up permissions to arbitrary paths and use these.  Currently, there's not actually any attempt to do this; the permission AFAIK (@steveisok please comment) comes from the APK itself, then the instrumentation passes back the path(s) to be pulled via key-value pair like you've noted e.g.:

[code]
The reason this is passing

[2020-12-02 21:22] MattGal opened #389 "XHarness needs to handle emulators stuck in offline state"
[Example log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-44932-merge-72df977dfcb145978f/Microsoft.Extensions.Configuration.UserSecrets.Tests/console.777c9703.log?sv=2019-07-07&se=2020-12-22T18%3A27%3A18Z&sr=c&sp=rl&sig=z34s9Ke7rvxc%2B%2Bo9u363RAypA4iLIlUnKTDf9sLgKMk%3D)

[code]

This example, caused by the rollout, was interesting.  Rebooting, for unknown reaso

[2020-12-02 21:32] steveisok commented on #385
@EgorBo @akoeplinger Do you recall how perms are set?

[2020-12-02 21:45] EgorBo commented on #385
Not sure I follow,
We require read/write access to the external storage (https://github.com/dotnet/runtime/blob/master/tools-local/tasks/mobile.tasks/AndroidAppBuilder/Templates/AndroidManifest.xml#L8-L9) in order to be able to save the test results there.

[2020-12-03 01:15] akoeplinger commented on #385
I think I saw Android 30 returning a path that is inaccessible to adb pull, which Android version are you using?

Ideally we'd find some path or other way to get a location that can be consistently accessed by adb, we don't really care where that is :)

[2020-12-03 12:32] premun commented on #354
Looks like XHarness `20601.1` which should contain the fix from https://github.com/dotnet/xharness/issues/354 is still failing:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-45486-merge-3c2f97f16f154752a9/Microsoft.Extensions.Configuration.EnvironmentVariables.Tests/console.74bfb490.log?sv=2019-07-07&se=2020-12-23T10:26:30Z&sr=c&sp=rl&sig=ImcNQ%2BZX5lvEc%2FHKcQ1cj

[2020-12-03 13:39] akoeplinger commented on #354
We're checking for the exit code 224 for the "Broken pipe" error, looks like it can happen with exit code 1 as well :D

[2020-12-03 17:56] MattGal commented on #354
Bummer, I am doing other Xharness tweaks now and will fold this in.

[2020-12-03 18:21] mattleibow opened #390 "Add a way to exclude tests"
I have a large test app, and some of the tests require human intervention. This means that we cannot run them on CI and need to be excluded.

[2020-12-03 18:23] #305 closed

[2020-12-03 18:25] mattleibow commented on #390
I see this is in the AndroidApplicationEntryPoint.GetTestRunner.

Hopefully once we get #383 then I won't even have to ask this question. 😉

[2020-12-03 18:35] premun commented on #390
@mattleibow we support something like this with the `--method` and `--class` parameters. We do not support excluding, but including only like this. Not sure it is enough but we can easily improve that, yeah.

[2020-12-03 19:11] radical commented on #390
Traits is another way to do it. Eg. `[Trait("Category","SkipCI")]`, and then `-notrait category=skipci`

[2020-12-03 19:15] mattleibow commented on #390
How do I translate that from the cli to the Android instrumentation? Is there some magic for that?

[2020-12-03 19:16] mattleibow commented on #390
This is my code: https://github.com/xamarin/Essentials/pull/1558

[2020-12-03 19:44] mattleibow commented on #390
I don't see a notrait, just class and method

https://github.com/dotnet/xharness/blob/master/src/Microsoft.DotNet.XHarness.CLI/CommandArguments/TestCommandArguments.cs#L29-L43

[2020-12-03 20:27] radical commented on #390
You would need to pass that to the test runner as command line args, or as filters. I'm not familiar with android side of things here, so, I'm not sure how that might be done.

[2020-12-03 21:05] mattleibow commented on #390
This does not appear to do anything. Looking at the code it seems not to be connected to anything? The skip part?

[code]

[2020-12-03 22:25] mattleibow commented on #390
Closing this because it works, just a bit of setup. Thanks for the comments.

[2020-12-03 22:25] #390 closed

[2020-12-03 22:31] mattleibow opened #391 "Partial test result streaming (progress reporting)"
Right now, things work, but in some big tests, the whole console just waits.

Not sure if there is a way to stream logs from the device, even if it is just the test results. If we can't get them as they come, might be worth adding the results to the console log output.

[2020-12-03 23:36] mattleibow commented on #354
I don't think the current delay for booting is long enough on the DevOps agents. I get some more greens, but I still am having the same errors. I am adding back my 10 min wait and will confirm.

However, maybe this can be configurable via the CLI so that we never have to worry. If it is a really slow machine, then we can bump the number.

[2020-12-03 23:38] MattGal commented on #354
Can you clarify what you mean by the devops agents? I'm unaware of any Android emulators on the Azure DevOps agents, this could be an unusual use case.

https://github.com/dotnet/xharness/pull/392/files is up for this newest broken pipe issue.

[2020-12-03 23:48] mattleibow commented on #354
I install then myself using the android sdk manager and then use avd to create the emulators. It very well could be that they are not accelerated, but it does now work after extending the delay.

[2020-12-03 23:52] MattGal commented on #354
Thanks for the details.  In the case of most of the "Broken pipe" and "stuck offline" machines I've seen they stayed in this state until acted on externally (like restarting the adb server for the former and restarting the emulator / machine for the latter).  If you have more suggestions about how to be reliable here I'd love to hear them (or see PRs)

[2020-12-04 00:01] mattleibow commented on #385
@akoeplinger yup, API 30.

Can we not pull files using the `run-as` feature of adb? Maybe you can copy the files into a "safe" location and then pull it?

[2020-12-04 00:51] mattleibow commented on #385
I see this works for me:

[code]

[2020-12-04 01:17] mattleibow commented on #354
With booting, I have seen some emulators (mostly the API 30) take about 240 seconds to boot up properly.

[2020-12-04 12:20] premun commented on #390
I think Android is not forwarding the arguments after `--` at the moment but this could be easily changed

https://github.com/dotnet/xharness/blob/322e7021377d57258e742c2641f77244a09627b1/src/Microsoft.DotNet.XHarness.CLI/Commands/Android/AndroidTestCommand.cs#L53

(the `false` there says it doesn't accept the `--` notation and then it would have to be forwarded wherever inside of the command)

[2020-12-04 15:55] premun commented on #391
Yeah, we did something similar in iOS where we forward some logs from the device and `LogDebug` them so that if you call xharness with `-v` you get this output. I don't know what the logs for Android look like much but maybe this cheap trick would work here.

[2020-12-04 15:56] premun commented on #387
Where did we land with this? Can XHarness be useful for these scenarios or is going without it easier?

[2020-12-04 20:17] akoeplinger commented on #385
I tried with `run-as` and it didn't work for me. The ExternalStorageDirectory property you're using seems to be deprecated as of API-29: https://developer.android.com/reference/android/os/Environment#getExternalStorageDirectory()

[2020-12-04 20:22] akoeplinger commented on #385
We're using the `Context.getExternalFilesDir()` API in dotnet/runtime, can you try whether that one works on API-30?

[2020-12-04 20:24] akoeplinger commented on #354
Yeah I think waiting up to 5mins for `sys.boot_completed` is fine as a default and ideally it'd be overridable.

[2020-12-04 20:25] MattGal commented on #354
I'm doing PR feedbacks after lunch, will stick that in.

[2020-12-04 23:11] mattleibow commented on #385
It works from inside the app, but then adb has an error. That is why I have the condition in that snippet.

And yes, it is deprecated, but works :)

[2020-12-04 23:12] mattleibow opened #393 "Automatically create and boot Android emulators"
Testing with iOS is so nice in that it creates a custom simulator and boots it up.

It would be awesome if we could get the same for Android.

[2020-12-04 23:16] mattleibow commented on #387
I think PM has to make the decisions on where to focus. I think Android and iOS and WASM was the priority.

However, there is benefit in this because we sometimes have to make use of "device" functionality - such getting app info and permissions. Even if this is a "slim" part of xharness, it would be great if it could install and start the app and then somehow communicate test results back. The ma

[2020-12-04 23:17] mattleibow commented on #354
I see there is a timeout arg for ios, maybe check to see if there is something we can do with that for consistency.

[2020-12-08 09:29] premun commented on #387
Yeah, thanks for the idea! I don't know anything about how these apps are installed/run but if it comes to this, I think XHarness might be a good place the code in in my opinion.

[2020-12-10 17:05] fanyang-mono opened #397 "Introduce install, run-test, uninstall args for Android testing command"
I was working on enabling runtime test to run on Android devices. And the current runtime test infrastructure calls the xharness Android testing command once per Fact. That means the same Android app got installed and uninstalled multiple times per Xunit test file, which slows down the test dramatically.

It would be nice to add an arg to tell the Android testing command to only install, uninstall

[2020-12-10 17:45] MattGal commented on #397
@fanyang-mono can you help me understand (if this is the case) why it is not feasible to change the behavior of the runtime coreclr tests?  They've been the same "one executable per test case" since the early 2000s but the only reason they seem to be this way is inertia and resistance to just refactoring them the way CoreFX did years ago.

[2020-12-10 18:55] fanyang-mono commented on #397
TBH, I am not 100% sure about the history of runtime tests, since I just started to work on it recently. But you probably are right that runtime tests need to be refactored to better fit the xharness test framework.

@trylek Could you please provide some comments on Matt's question?

[2020-12-10 23:25] trylek commented on #397
I agree that having multiple tests per executable would speed up testing and be a general win on multiple fronts, in fact I mentioned that myself recently on an issue thread. The complicated part is how to get to that state and it's certainly no short term project for multiple reasons. In contrast to library tests CoreCLR includes several groups of tests with vastly different characteristics. Inte

[2020-12-17 09:31] premun opened #400 "Rename the ios command to respect tvOS/watchOS"
## Context
Currently, everything from issue labels to namespaces (`Microsoft.DotNet.XHarness.iOS`) in code to commands is either `Android` or `iOS`:
[code]

For tvOS, we also use the `ios` command which is a bit confusing:
[code]

## Solution 1: Dedicated commands
There is a proposal to introduce new commands (basically aliases) and it's time to decide how we want to do approach this.
We could hav

[2020-12-17 09:33] premun commented on #400
I am personally for **Solution 2** and the `apple` keyword, not holding a strong opinion on the keyword itself.

[2020-12-17 11:05] greenEkatherine commented on #400
I'm also for the second option

[2020-12-18 11:37] premun commented on #351
Closing this as we decided it's not worth the trouble.

[2020-12-18 11:37] #351 closed

[2020-12-18 11:45] premun commented on #105
We don't have the package verb no more

[2020-12-18 11:45] #105 closed

[2020-12-18 11:45] premun commented on #128
I think this is resolved

[2020-12-18 11:45] #128 closed

[2020-12-18 13:35] premun opened #401 "The --xcode argument is not working"
I have tried using an older xcode and noticed that it had no effect.

I ran
[code]
and got
[code]

[2020-12-18 13:37] premun commented on #401
Oh no, I read the wrong logs

[2020-12-18 13:37] #401 closed

[2020-12-18 13:40] premun opened #402 "For real devices, `ios run` reports success even when app deployment failed"
[code]

[2020-12-21 17:41] #402 closed

[2021-01-04 14:53] fanyang-mono commented on #397
Could we please have this issue assigned and scheduled to be worked on soon? Currently, there are only 20% runtime tests running on Android devices. The coverage is quite low.

@MattGal @akoeplinger

[2021-01-07 16:18] tkapin commented on #400
Ok, I agree with the proposal of the unified keyword, I'd recommend "appleos" though as it matches the "ios", "tvos" etc. naming and makes clear that it's the apple OSes we are trying to unify.

[2021-01-11 09:44] premun commented on #397
cc @tkapin @greenEkatherine

[2021-01-11 14:36] akoeplinger commented on #400
I agree with solution 2 but I think it should be `apple` and not `appleos`, there's no unified apple "OS" so we'd be inventing this concept.

[2021-01-12 16:32] #67 closed

[2021-01-12 17:42] premun opened #413 "Exit code detection works mysteriously"
The arcade PR build fails occasionally because the HelloiOS app which should return the exit code 200 sometimes ends up as 42.

Example:
https://helix.dot.net/api/2019-06-17/jobs/457b77da-22d1-40e3-925f-b3ea8213f587/workitems/HelloiOS

System logs:
[code]

XHarness says:
[code]

[2021-01-13 18:27] #413 closed

[2021-01-13 19:35] tkapin opened #415 "Rename the default branch name to "main""
We have decided to unify the naming of our default branches to `main` as all new repos will already use this naming. We are using [GitHub’s new tooling](https://github.com/github/renaming) to make sure branch policies and PRs are automatically updated.

The goal of this issue is to rename the default branch to `main` in this repository by following the renaming guide at <https://aka.ms/m2m-dotnet>

[2021-01-14 13:08] premun opened #418 "Resolve the multi-feed security risk"
More information here:
https://dev.azure.com/dnceng/internal/_componentGovernance/dotnet-xharness/alert/4058283?typeId=2978617

[2021-01-14 13:35] premun commented on #415
Migrated internal pipeline succeeded here: https://dev.azure.com/dnceng/internal/_build/results?buildId=950224&view=results
The latest change produced a package here: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-eng&package=Microsoft.DotNet.XHarness.CLI&protocolType=NuGet&version=1.0.0-prerelease.21064.3&view=overview

This means the migration went as expected. Closing thi

[2021-01-14 13:35] #415 closed

[2021-01-20 09:35] greenEkatherine commented on #397
Sorry for the delay, the XHarness project was changing owners and we are now ready to look into this.

[2021-01-20 12:46] mattleibow commented on #383
I have another for reference that is more up-to-date: https://github.com/xamarin/Essentials/blob/main/DeviceTests/DeviceTests.Android/TestInstrumentation.cs

[2021-01-20 12:50] mattleibow commented on #383
Also, might be worth adding logic to automatically return the results file as I assume that is what most people actually want from this. Or at least have a way to easily get them without having to do it manually.

[2021-01-20 15:01] premun commented on #389
@MattGal was this resolved by https://github.com/dotnet/arcade/pull/6799 or it's a different issue?

[2021-01-20 15:54] MattGal commented on #389
Oh nope this is the specific state, now that there's an exit code and automated helix sdk retries it can be closed.

[2021-01-20 15:54] #389 closed

[2021-01-21 16:30] premun opened #424 "Make sure iOS app gets uninstalled"
**Context**
We have relaxed the entitlements from `[TEAM ID].net.dot.HelloiOS` to `[TEAM ID].net.dot.*` and now the logs say:
[code]

This might mean that the application didn't get uninstalled last time properly.
Or I am wrong and the new entitlements don't work. But I think I got a good attempt before that.

**Goal**
- Verify that we uninstall the app in all cases (failed run, failed installatio

[2021-01-26 12:12] premun commented on #400
Re-opening to track Arcade/runtime changes

[2021-01-26 15:34] greenEkatherine commented on #397
I'm planning to make a follow-up pull request to add tests

[2021-01-26 15:35] akoeplinger opened #430 "NullReferenceException when "getprop ro.product.cpu.abi" times out"
Saw this here: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-47344-merge-5a6c8098772545e0bb/Microsoft.Extensions.DependencyModel.Tests/console.070bf74d.log?sv=2019-07-07&se=2021-02-14T23%3A59%3A26Z&sr=c&sp=rl&sig=9t3%2FjnZR19lAaIBfy%2FQIdPKl3sxScllglrVTOxr5T8s%3D

[code]

The fact that we couldn't get the device architecture shouldn't cause a NullReferenceExceptio

[2021-01-26 15:59] greenEkatherine opened #431 "Refactor arguments classes help info and common parts"
Recently several new classes for arguments were introduced for iOS and Android. Now some of them have duplicated parts that could be reused by adding base classes. https://github.com/dotnet/xharness/pull/429#discussion_r564446570

Also there are different parameters for iOS and Android commands that are showing in help info all together:

[code]

[2021-01-26 16:31] MattGal commented on #430
I will take this and try to get it fixed today, but from the logs this doesn't seem to be the latest XHarness Arcade version; we probably want to use its ability to do infra retry / reboot when such a call times out.

[2021-01-26 16:56] akoeplinger commented on #430
The last xharness update we got was https://github.com/dotnet/runtime/commit/c59519c0acaa6e8a87f76bf22c2eaa35414afbb1

[2021-01-26 18:20] MattGal commented on #430
Do you use the Helix Xharness SDK though?  If not we'll have to discuss other ideas.

[2021-01-26 19:30] akoeplinger commented on #430
Ah right, we're using the the XHarness SDK so this would actually be tied to the arcade version.

[2021-01-27 09:29] #400 closed

[2021-01-29 12:08] greenEkatherine opened #433 "Allow to omit device id if there is only one suitable device"
New android commands `install`, `run`, `uninstall` require `device-id` as a mandatory parameter. In case when we have only one suitable device (i.e. with required architecture or app installed) it could be useful to omit device-id.

[2021-01-29 13:53] greenEkatherine opened #434 "Increase test coverage for Android"
Check what unit and instrumentation tests should be added.

For unit tests coverage state at the moment is:
![image](https://user-images.githubusercontent.com/19972657/106282995-a5439c80-6241-11eb-94ce-7bebc1bc6aac.png)

[2021-01-29 17:12] MattGal commented on #354
I believe this is merged and hasn't been a problem, closing (feel free to reactivate)

[2021-01-29 17:12] #354 closed

[2021-02-01 03:49] steveisok opened #435 "Add Support for Mac Catalyst"
We are in the process of building a mac catalyst runtime.  In order to run tests against it, I would like xharness to support running catalyst apps in order to take advantage of the underlying infrastructure.

- [ ] Add new iOS target (`maccatalyst` would be on suggestion)
- [ ] Launch MacCatalyst app
  - [ ] Support the `test` command
  - [X] Support the `run` command (#462)
- [X] Collect MacCata

[2021-02-01 03:50] steveisok commented on #435
/cc @premun @tkapin

[2021-02-01 07:04] #397 closed

[2021-02-01 10:38] tkapin commented on #435
@steveisok - could you please clarify the priority and when do you need it (assuming sooner is better, but it's unclear if its a blocker for you at the moment). @premun is supposed to be on FR for two weeks now, but we can reschedule it if needed.

[2021-02-02 18:40] #424 closed

[2021-02-03 16:58] #434 closed

[2021-02-03 17:08] steveisok commented on #435
It's not a blocker, but sooner definitely is better.  I certainly understand if you want to keep Premek on FR.

[2021-02-03 17:13] greenEkatherine commented on #308
I don't see timeouts in tests any more https://dev.azure.com/dnceng/public/_test/analytics?definitionId=686&contextType=build, closed

[2021-02-03 17:13] #308 closed

[2021-02-03 17:45] premun commented on #308
@greenEkatherine I am not sure it would appear on this dashboard to be honest

[2021-02-03 18:52] greenEkatherine commented on #308
@premun I've checked logs a failed tests as well. Should I check somewhere else?

[2021-02-04 00:26] mattleibow commented on #393
Just some links to what the v3 of my script is doing: https://github.com/xamarin/Xamarin.Forms/pull/13641

I am making a few assumptions, but these values can all be read from either the APK or the APP files. Hopefully we see this soon, as this makes the scripts a bit yuck.

[2021-02-04 09:40] greenEkatherine commented on #308
As discussed offline with @premun I've also checked recent failed jobs in runtime-staging pipeline - they look also fine, no timeouts like this.

[2021-02-04 20:11] rolfbjarne commented on #435
You don't need mlaunch to launch Mac Catalyst apps, they're launched like macOS apps (so just call Process.Start on the executable, or whatever xharness does for macOS apps).

[2021-02-05 15:28] mattleibow opened #438 "Is it possible to push this to nuget.org"
This is working well enough to reach nuget.org. It really does not need to be so hidden and I hate custom nuget feeds in my configs.

[2021-02-05 15:57] premun commented on #438
As discussed offline, this would be quite difficult as we use Arcade to publish to a feed with the rest of the .NET world. Also NuGet.org will soon be removed altogether as a source feed so this doesn't make much sense.

[2021-02-05 15:57] #438 closed

[2021-02-10 15:37] mandel-macaque opened #441 "[Nugets] Allow the usage of xcode specific branches for xharness to be consumed during betas"
Apple is not consistent with the different simulators that are supported, or in general, Apple does not guarantee to be consistent with everything. This results in xcode versions that can change behaviour that is expected by xharness, one of those examples is https://github.com/xamarin/xamarin-macios/issues/10593 in which the min watchOS simulator supported has changed.

Ideally we need to ensure

[2021-02-10 15:38] mandel-macaque opened #442 "[iOS] Minimum versions on Xcode12.5 changed, they need to be bumped."

[2021-02-10 15:53] premun commented on #442
Maybe we don't need different branches for different Xcodes but rather turn the resolution of the numbers a function rather than a const?
[code]
to
[code]

[2021-02-10 16:17] mandel-macaque commented on #442
Adding logic is going to be a pita, but yeah, something of the kinds is a good approach. I have to think :)

[2021-02-12 08:58] premun commented on #441
@mandel-macaque I will set up an example branch next week. What's the first one I can go? 12.5?

[2021-02-12 09:45] premun commented on #441
Also - do we want Maestro to open PRs for merging main to xcode branches?

[2021-02-12 10:36] greenEkatherine opened #444 "Add ability to provide screenshots on test failure"
@PureWeen:

[2021-02-14 00:52] mattleibow commented on #385
I figured out why things might have worked. I was building for 29 so I got those feature sets. If I target 30, then it blows up.

[2021-02-14 00:53] mattleibow commented on #385
If I use the internal directory, I get this error:

[code]

[2021-02-14 02:31] mattleibow commented on #385
When I do `run-as` on my API 30 emulator, it takes me to `/data/user/0/com.mono.skiasharp.tests/files/`. I can write to there in my app,  but then xharness can't pull it.

[2021-02-14 22:06] mattleibow opened #446 "Add an option to return an error code if the tests failed"
I have to add custom code to detect any failed tests in the results so I can fail the build.

If there was a command line arg to basically use the test failure to also mean the command failed. This can wait until everything is cleaned up, but should still return a non 0 exit code if my tests failed.

[2021-02-14 23:26] mattleibow commented on #446
Maybe this is a "bug" since iOS actually fails on test failures...

[2021-02-15 08:58] premun commented on #446
As far as I know, XHarness exits with `1` if tests fail (at least on iOS):
https://github.com/dotnet/xharness/blob/66b9a52dfea930ff2cfb588e5f2636932a1f6868/src/Microsoft.DotNet.XHarness.Common/CLI/ExitCode.cs#L21

Or is this about Android only?

[2021-02-15 09:36] greenEkatherine commented on #385
Access permissions to external storage were changed in Android 11 https://developer.android.com/about/versions/11/privacy/storage. When the app targets API 30 we cannot access app's directory outside the app. I will try approach for shared file and see if it helps

[2021-02-16 14:18] mattleibow commented on #446
This is Android only.

[2021-02-16 14:54] premun commented on #446
I see that the way it is currently handled in `dotnet/runtime` is that the wrapper itself returns 1 when it detects a failed test in the `TestRunner`:
https://github.com/dotnet/runtime/blob/372248b9b4e3e7c08e0c0aa53d4a94f826fe273b/src/libraries/Common/tests/AndroidTestRunner/AndroidTestRunner.cs#L34-L38

In XHarness we currently do this:
- **iOS** - we cannot reliable detect exit code and we under

[2021-02-16 15:10] premun opened #452 "Detect branch name in `xcode/*` builds automatically"
**Context**
When we produce a package from the `xcode/[XY]` branches, we call them `1.0.0-branch-xcode-[XY]` so that they are easily distinguishable.
Currently, we hardcode the name of published NuGet packages in the `eng/Versions.props` file which is a problem because:
1) The file differs from branch to branch
2) It is easy to mix it up and make a mistake when merging branches between each other

[2021-02-16 15:12] premun opened #453 "Implement forward integration from main to xcode/* branches"
**Context**
We should probably port changes from `main` to `xcode/*` automatically.
It has to be done via a PR that will be approved by us because the changes we do in the xcode branches might clash with what we have in `main`.

**Goal**
1. Figure out how this is done in other repos
2. Implement it for `main -> xcode/*`

[2021-02-16 15:15] premun commented on #441
This was implemented (#451 #450 https://github.com/dotnet/versions/pull/678). I created 2 follow-ups (#452 #453) that will improve our workflow

[2021-02-16 15:15] #441 closed

[2021-02-16 19:17] greenEkatherine opened #455 "Use generated instrumentation test in the pipeline"
Currently in our pipeline we use instrumentation test from the storage. After the change in #454 it will be possible to use instrumentation test generated by XHarness itself.

[2021-02-17 09:08] premun opened #456 "Move XHarness onto .NET 6"
Currently, it is a .NET 3.1 tool. In order to update this, we need:
- [ ] Update the projects themselves
- [x] Update the Helix SDK
- [ ] Update the bootstrap script

It is unclear how we're going to do this since the PR build will fail most likely because the XHarness SDK will try to install it with 3.1 so we might as well ignore the failed build and merge.

[2021-02-17 10:06] #52 closed

[2021-02-17 10:07] premun commented on #52
We don't care about this test to be honest

[2021-02-17 10:12] tkapin commented on #335
@akoeplinger, @steveisok - this has been around for some time, how important is this for you?

[2021-02-17 10:15] tkapin commented on #380
@mattleibow - could you please describe what is the value of this and what problems this would solve? thanks!

[2021-02-17 12:34] mattleibow commented on #380
This will be useful if there are multiple emulators running, then it could pick the correct one.

The real value in this is when testing with Android APIs. Each version has quite a different feature set and often there are breaking changes. One example is the storage privacy.

I suppose really the current case of waiting when multiple emulators are running stops all this, but it will be nice to be

[2021-02-17 12:48] premun commented on #435
@rolfbjarne do you know if there is some MacCatalyst system log like we have for the simulators? I was trying to find how you handle this in `xamarin-macios` but couldn't see it

[2021-02-17 12:57] premun opened #457 "Investigate a possible renewal mechanism for integration test apps"
**Context**
Currently, we have a fixed pre-built iOS/Android/WASM test apps uploaded in a storage account which are used in the pipeline for E2E testing. These have been built months ago and were not updated.

**Motivation**
The way we build apps in `dotnet/runtime` and in `Xamarin.Forms` is changing and we are not testing these apps at all so changes in the wrapper / TestRunner is not tested at a

[2021-02-17 13:41] rolfbjarne commented on #435
@premun there's no Mac Catalyst-specific system log like there are for simulators, it would be the normal macOS system-level log.

[2021-02-17 13:42] rolfbjarne commented on #435
and that's not captured in xharness, so if you want it you'd have to add support for it

[2021-02-17 15:08] akoeplinger commented on #335
It'd be nice to have it fixed but it'll need some changes to the test runner we have in dotnet/runtime, or for xharness to parse the testResult.xml to show the failures.

[2021-02-17 15:21] akoeplinger opened #458 "Running Android test without a device/emulator takes a long time to fail and does unnecessary things"
If I shutdown all Android emulators and try to run a test I get this log:

[code]

None of the steps after the initial `fail: Error: listing attached devices / emulators: .` should be run since they'll fail anyway.
xharness also exits with exit code 0 even though it failed :)

Nit: looks like we're missing a string interpolation `$` since the `Exception thrown while trying to find compatible devic

[2021-02-17 16:05] premun opened #459 "Collect MacCatalyst system logs"
When running on iOS simulators, we are able to get the device system logs.

For MacCatalyst apps, we might be able to do the same from the MacOS system logs. We should investigate this and possible capture.

[2021-02-17 16:06] premun commented on #435
Right, thanks!

I logged an issue #459 and will revisit it later so that we don't have to wait for this now.

[2021-02-17 18:40] premun opened #460 "Add integration tests for the install/run-test/uninstall flow"
We should add integration tests to the PR pipeline that would test the new Android commands

[2021-02-18 08:37] premun commented on #391
I can prepare a PoC of this for iOS and see if it has a value since it is almost done there. And do it together with #335

[2021-02-18 09:32] premun opened #462 "Detect exit code when calling `apple run` for MacCatalyst target"
1. It seems MacCatalyst doesn't forward the exit code of the app
2. We cannot get the system logs yet (#459) so we cannot get the exit code from there neither

We should investigate 1. or wait for 2.

[2021-02-18 12:52] mattleibow commented on #446
That runner appears to be a console app? Is it not possible for xharness to look at the exit cote returned by the bundle and determine a fail?

[code]

There is also the case of a test crash:

[code]

I see `fail: Non-success instrumentation exit code: 82, expected: 0`, but then the xharness app is all good?

It seems xharness itself succeeds even though we just asked it to fail? At least that is

[2021-02-18 13:41] premun commented on #446
Oh, I didn't know about this. This looks like a bug. @greenEkatherine can you please have a look what we're doing with the app's exit code and the expected exit code?

[2021-02-18 15:46] greenEkatherine commented on #446
Yeah, it should be fixed. What we do now - we compare adb process' exit code with the expected one. But this adb exit code doesn't reflect what happens with instrumentation

[2021-02-18 15:52] dellis1972 commented on #385
We had to completely rework the Xamarin.Android fast deployment system to work with API 30 and to work around this.
The external directory is not available. Instead of `context.GetExternalFilesDir()` you can use `context.GetFilesDir()`. This should return a path like `/data/user/0/<packageName>`. And you should be able to write files there.

You can then use `adb shell run-as <packageName> ls` to

[2021-02-18 17:16] greenEkatherine commented on #385
@dellis1972 thanks a lot, this is a very useful information!
@akoeplinger @mattleibow will it work for us to target only API >=21 and add this `android:debugger=true` flag?

[2021-02-18 17:46] mattleibow commented on #385
I believe that attribute is defined in the androidmanifest.xml of the app and by default release builds do not have it...

However it may be fine if we have some sort of restrictions.

We could even have a pre-30 path that does the old logic and a 30+ that has these new restrictions. That way we can still keep whatever the rest of the consumers have working

[2021-02-18 19:46] greenEkatherine commented on #444
@PureWeen could you please provide more details to understand the motivation of this task? i.e. for which tests is it required, how often you need to investigate them?

[2021-02-19 11:29] akoeplinger commented on #462
@premun can you please try to run the binary in the `HelloCatalyst.app/Contents/MacOS` folder directly and see whether you get the exit code that way?

[2021-02-19 11:31] premun commented on #462
@akoeplinger will try!

Meanwhile, I was able to get it from the `/var/log/system.log` the same way I get it from Simulators btw

[2021-02-19 11:39] premun commented on #462
Ah, cool, running the binary works! Also gets us the logs!

[2021-02-19 13:50] premun opened #466 "Add MacCatalyst integration tests"
E2E tests in the PR build like we do for the other types of apps.
Possibly run the app using `test` and `run` command.

[2021-02-19 13:59] premun opened #467 "Fix the IDisposable pattern for SimpleListener and CaptureLog"
**Context**
The implementations of `ISimpleListener` rely on the user calling `Cancel()` before they are disposed which means we cannot utilize the `using` block/statement properly since we always have to control that `Cancel` is called too.

Examples of this can be found in the `AppTester` class.

Same can be said for the `CaptureLong` and its `StartCapture`/`StopCapture`.

**Goal**
Investigate w

[2021-02-19 17:00] greenEkatherine commented on #430
@akoeplinger could you please confirm if the issue was resolved?

[2021-02-19 17:01] akoeplinger commented on #430
Yep.

[2021-02-19 17:01] #430 closed

[2021-02-19 17:24] mattleibow opened #468 "Add a timeout option for Android"
When running tests on hosted Azure agents, it takes about 5 mins to start. The 1 min timeout is too short.

[2021-02-21 03:02] mattleibow opened #470 "[FYI] iOS no longer passes the args to the app, and fewer envvars."
Not sure if this was a bug or a feature, but I just noticed that the startup args for iOS no longer pass through. This might be a feature, but just in case. Just happened in the last release recently.

[code]

[code]

[2021-02-22 08:18] premun commented on #470
Hey @mattleibow, yeah I was changing this recently because the TestRunner that we used inside of the apps wasn't actually using these properly. Did I break some scenario of yours and you would need some of these back?

[2021-02-22 09:22] #458 closed

[2021-02-22 17:57] steveisok opened #473 "Wasm browser test runs intermittently fail to read test results"
We've recently noticed xharness fail to read results from in the browser wasm test runs.  This has resulted in builds being flagged in dotnet/runtime as having failures, but the logs say otherwise.

If you notice on [build](https://github.com/dotnet/runtime/pull/48593) in question, the log below does _looks_ ok, but is still flagged as in error:

https://helixre8s23ayyeko0k025g8.blob.core.windows.

[2021-02-22 17:58] steveisok commented on #473
/cc @radical

[2021-02-23 08:03] #435 closed

[2021-02-23 13:08] mattleibow commented on #470
This is all good. Just checking.

[2021-02-23 13:08] #470 closed

[2021-02-23 14:07] premun commented on #470
Yeah, thanks for the notice though! Super useful in case something regressed!

[2021-02-24 08:47] #459 closed

[2021-02-24 09:59] premun commented on #455
Deprecated by #457 as we won't be building apps in XHarness but rather getting them from our customers

[2021-02-24 09:59] #455 closed

[2021-02-24 11:57] akoeplinger opened #476 "Add option to check for wifi (ip address) on Android"
In https://github.com/dotnet/core-eng/issues/11891 we hit an issue where for some reason the WiFi was disabled on the Android phones which meant it didn't have an IP and couldn't reach the Internet which caused some DNS tests to fail.

We should have a way to detect this and fail with some distinct exit code so this can be bubbled up and be reported as an infrastructure failure on Helix.

I think

[2021-02-24 15:06] greenEkatherine commented on #383
I discussed my change with the team today and it seems that it cannot be merged in current state. The crucial point is that for default Instrumentation the dependency to `Instrumentation` and `Bundle` should be set which means dependency to Xamarin in either way. Taking this into account it doesn't look like XHarness is a good place for such base Instrumentation library since it's not generic and

[2021-02-24 22:51] mattleibow commented on #383
Sounds good. We can create a Xamarin + XHarness package and just do what you did in the PR.

I was playing around and I think we can do stuff. However, it will be nice to be able to put this code in this repo. It is just an `net6-android;net6-ios` project. and since this is a new package, we do not actually affect the dependency for the rest of the packages.

[2021-02-25 00:44] radical commented on #473
I'm not being able to see how to get the `xharness-output` contents for this. That should have the console log, which might be helpful.

[2021-02-25 01:05] mattleibow opened #478 "xharness should also download/install the versions of the simulators"
It would be nice if there was a way to install simulators for iOS as all the info to the URL is there:

https://github.com/xamarin/xamarin-macios/tree/main/tools/siminstaller

I would maybe do something like:

[code]

When doing this for Android, it sort of fits in with #380 and #393 but this just calls upon the sdkmanager to also download.

[2021-02-25 01:09] mattleibow commented on #393
Just linking some code that I did a while back on basically doing all this. Might have been a bit over-engineered, but still did the job: https://github.com/mattleibow/dotnet-devices

[2021-02-25 09:07] premun commented on #478
There is some code for this in this repo already which is packaged into another .NET tool and can do this:
- https://github.com/dotnet/xharness/tree/main/tools/Microsoft.DotNet.XHarness.SimulatorInstaller
- https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-eng&package=Microsoft.DotNet.XHarness.SimulatorInstaller&protocolType=NuGet&version=1.0.0-prerelease.21124.1

This tool is

[2021-02-25 09:27] premun commented on #383
Yeah, that would also be doable and I think that would actually make sense. Only problem is that we are a bit behind on .NET in XHarness (.NET Core 3.1), so we need to bump that first to be able to use these new monikers

[2021-02-25 14:24] tkapin commented on #383
Just to make sure we are on the same page, XHarness should be the shared tooling used by multiple clients, such as mono, XMAUI, perhaps the CLR in the future and as such, it shouldn't contain any dependency on these projects (with an obvious exception of the .net runtime as it's written in C# tool). This also applies on other potential entities in the `dotnet/xharness` repo.

[2021-02-25 15:14] greenEkatherine opened #480 "Provide base TestEntryPoint for Android"
This task is replacing #383
In general we couldn't now implement `Instrumentation` class because it requires extra dependencies. However, we still can implement some default functionality for `TestEntryPoint`. For example we may help to handle test results path and tests filtering on the Xharness side.

### Goal:
Implement base functionality in `TestEntryPoint`, so our consumers won't need to dupl

[2021-02-25 15:15] greenEkatherine commented on #383
I've created a separate issue for the suggested solution #480

[2021-02-25 17:47] tkapin commented on #383
Thank you @greenEkatherine , I'm closing this issue then to make a clear distinction between the two approaches.

[2021-02-25 17:47] #383 closed

[2021-02-25 18:16] greenEkatherine opened #481 "Notify user if required arch differs from the app's arch"
When required arch differs from the app's arch, user's parameters have higher priority. We will still try to run the app on the required architecture. But since it's easy to detect we may print warning about the difference.

### Goal:
Let user know that the app's architecture differs from the one they required

[2021-02-26 09:22] #433 closed

[2021-02-26 10:48] premun opened #483 "Infrastructure retry/reboot happens even when a test times out"
**Context**
Originally, we were returning the exit code 83 when we failed to install the app (the simulator would hang when booting).
The 83 then results in an infra retry + machine reboot which would fix the hanging simulator.

**Problem**
I noticed that when we succeed in installing the app and the tests start running but they hang themselves (endless running test), we also return 83 (app launch

[2021-02-26 18:35] radical commented on #473
Ok got the log. `wast-console.log` ends with:

[code]

I think that last line is part of `EXIT 0`.

[2021-03-01 08:09] #462 closed

[2021-03-01 18:01] radical commented on #473
@steveisok do you have links to any builds with the xml error?
Meanwhile, I'm adding a fallback for the `IT 0` issue.

[2021-03-02 12:13] #466 closed

[2021-03-02 17:12] #473 closed

[2021-03-03 15:27] #483 closed

[2021-03-03 21:36] imhameed opened #493 "Support passing environment variables to iOS apps launched by xharness, and support separate install, run-test, and uninstall subcommands"
I'm working on getting CoreCLR's runtime tests working with Mono on iOS devices. In https://github.com/dotnet/runtime/pull/43954, I'm bundling multiple runtime test assemblies (with one entry point each) together into a single iOS app bundle, similar to what we currently do on Android. I'm passing the entry point assembly to run through an environment variable (unlike Android, which uses a command

[2021-03-04 09:10] premun commented on #493
@imhameed sure, this should be a piece of cake!

Are env variables fine or do you need to pass arguments to the app directly as well (we support this already but not sure it works on the mlaunch side)?

[2021-03-04 09:38] premun commented on #493
@imhameed can you also please provide me with a test application and some instructions on how you would like to run the tests using it so that I have a good picture of things should work?

[2021-03-04 17:02] imhameed commented on #493
Great!

1. I don't need to pass arguments to the app right now. And I think mlaunch does support this.
2. Yes.
3. Sounds fine; the goal is to avoid burning time on redundant data transfer/install/verification work.

Sure. I don't have one handy right now but I'll send you something shortly.

[2021-03-05 10:28] premun commented on #493
@imhameed I opened a pull request (#496) for the first part where we also set the environmental variables.
(please note that these were passed as regular arguments already before)

[2021-03-08 09:54] premun opened #498 "MacCatalyst exit code detection is flakey"
The system log just doesn't contain the line we're looking for:
https://helix.dot.net/api/2019-06-17/jobs/c5bad98a-d5b9-49aa-8846-e9bfc0389634/workitems/System.Buffers.Tests

[2021-03-11 13:03] premun opened #502 "Remove warning about `ios` command"
We renamed `ios` to `apple` and left behind a warning to not break everyone immediately

[2021-03-11 14:34] #480 closed

[2021-03-15 16:00] greenEkatherine opened #505 "Tests failure was not detected"
Test results were not correct for Android arm64 device leg, it shows that it passed w/ no failing tests

Build https://dev.azure.com/dnceng/public/_build/results?buildId=1037907&view=logs&j=c693b1a1-52cc-5241-304f-e4b4c2d5f73e&t=dc5b1a4a-d7d3-5c23-61cb-3de4ef061960

Example WorkItem -> https://helix.dot.net/api/jobs/505a2465-f7f2-458e-a802-ca6cb49efd0d/workitems/System.Security.Cryptography.Algori

[2021-03-15 16:03] steveisok commented on #505
This is pretty serious as we may be getting a false sense of security on CI.

/cc @tkapin

[2021-03-15 16:23] MattGal commented on #505
Looking at a bunch of logs, it's clear that the Azure Devops reporter isn't getting run any more.   We've made a hard-coded expectation that 0 and 1 get coerced to 0 because 1= xunit failures.   I am looking at the delta to try to figure out why.

[2021-03-15 16:26] MattGal commented on #505
Logs age out, but at least as recently as 2021-02-25 16:23:17.6280000 UTC the reporter was not set up.

[2021-03-15 16:48] MattGal commented on #505
Pretty sure I caused this and it's an easy fix, but am doing a quick experiment to prove this first.

[2021-03-15 17:28] MattGal commented on #505
Verified experimentally https://github.com/dotnet/arcade/pull/7103/files fixes the reporting.  This may be not the only change required, but it's definitely an important one.

[2021-03-15 20:02] tkapin commented on #505
Thanks for the fix @MattGal. @greenEkatherine will check tomorrow if there are other places where this needs to be fixed yet. If you have any tips, please let us know.

[2021-03-17 02:34] mattleibow opened #507 "XHarness iOS simulator is not removed"
I think the simulator that xharness creates is never actually deleted. I noticed this locally and I think also that CI had a bad sim that got stuck somewhere. Now it never re-creates the sim and stays stuck.

There doesn't seem to be logic to remove the sim after the tests, or a command to explicitly delete them.

[2021-03-17 13:27] premun commented on #507
We had a call with Matthew and figured out that the best way to approach this would be to add a new option to XHarness that would make sure the simulator data get erased at the end of the run.

This option would call `xcrun simctl` and use some of the command such as `shutdown`, `erase` and `delete`. It is up to an investigation which commands will remove the right data.

[2021-03-19 02:27] steveisok opened #510 "Support for RemoteExecutor on mobile platforms"
In dotnet/runtime libraries tests, it is fairly common for some to use RemoteExecutor to carry out key pieces of the test.  What RemoteExecutor does in this context is (more or less) spawn a new process and execute some code.  We skipped this on mobile because it was not easy to come up with a solution to mimic spawning a process and give us the kind of test isolation we need.  It would be nice if

[2021-03-19 14:45] premun opened #512 "Announcement - repository access changes"
Before, we only had 1 team [xharness](https://github.com/orgs/dotnet/teams/xharness) with Admin access privileges. Thanks to requests to add more people with write access, I have created a new team [xharness-collaborators](https://github.com/orgs/dotnet/teams/xharness-collaborators) with **Write** access who will be able to merge their own PRs.

I added following people, so please accept the invit

[2021-03-19 14:46] #512 closed

[2021-03-21 15:13] mandel-macaque opened #514 "xamarin-macios regression - test targets are skipped"
There has been a change in the shared library that has had a regression making the xamarin-macios to be skipped when they required iOS simulators. We have been able to find the exact version that introduced the regression:

* 1.0.0-prerelease.21109.1 - Last working version
* 1.0.0-prerelease.21111.1 - Version when the issues appear.

[2021-03-22 09:15] premun commented on #514
21111.1 is a README change, 21109.1 is this:
https://github.com/dotnet/xharness/commit/66b9a52dfea930ff2cfb588e5f2636932a1f6868

[2021-03-23 09:07] #507 closed

[2021-03-24 12:16] #478 closed

[2021-03-24 13:50] premun opened #519 "Set up integration testing of Apple devices in arcade & xharness"
@premun commented on [Wed Jan 20 2021](https://github.com/dotnet/core-eng/issues/11893)

**Context**
A capability to sign iOS/AppleTV apps and deploy them to real devices was added to Arcade SDK / Helix machines and it is already possible to send a job like this using the `UnitTests.XHarness.iOS.Device.proj` test project.
However, we don't currently do this because dotnet/runtime has [problems](ht

[2021-03-26 12:19] premun commented on #493
Variables are not passed (https://github.com/dotnet/xharness/pull/521#issuecomment-807365536)

[2021-03-26 20:05] greenEkatherine opened #525 "Support passing environment variables to Android apps"
Set environment variables for Android apps the same way as it was done for Apple https://github.com/dotnet/xharness/pull/496

Initial request https://github.com/dotnet/core-eng/issues/12058#issuecomment-806042545

[2021-03-31 09:13] premun commented on #525
Please verify you can read the variables in the app

[2021-03-31 09:19] #505 closed

[2021-03-31 09:19] premun commented on #505
Issue hasn't manifested for some time. closing

[2021-03-31 09:33] greenEkatherine opened #531 "Improve logging for android"
Consider increase logging by following:

- Run `logcat -c` at the beginning of a test execution to clear the log
- Capture the pid from `shell am` instrument (which may not be possible?) and filter by `logcat --pid`. This is probably worse as there may be other things in the logcat log which are interesting outside the context of the test process

cc @billwert

[2021-03-31 15:34] greenEkatherine opened #532 "App scaffolding"
**Context**
Android and iOS test apps reuse some parts of implementations such as:

- iOS (ie: App Delegate, View Controller, etc)
- Android (ie: Activity, etc)

Examples could be found in [maui repo](https://github.com/dotnet/maui/tree/main/src/TestUtils/TestUtils.DeviceTests/src/Platform)

**Goal**
Move reusable templates into XHarness where it's possible so, it would be easier to create test ap

[2021-04-01 13:22] #456 closed

[2021-04-01 13:46] premun opened #533 "Zero test coverage for the `CLI` project"
**Context**
This is a problem because:
- We've had issues where CLI arguments were passed incorrectly to the layers that have coverage (e.g. Apple or Android projects)
- There is an increasing amount of code in CLI (implementations of commands that orchestrates the high level processes)
  - WASM is implemented there completely
  - Apple and Android are increasingly complex as we introduce new comm

[2021-04-02 16:35] steveisok opened #534 "Failed to launch application on Helix iOS devices"
In https://github.com/dotnet/runtime/pull/50587, we are trying to bring up a minimal device run on dotnet/runtime CI.  From the log of the first run, xharness appears not to be able to find the app.

https://helixre107v0xdeko0k025g8.blob.core.windows.net/runtime-dotnet-8827b6bd8fd943a98a/iOS.Device.Aot.Test/console.d06ef944.log?sv=2019-07-07&se=2021-04-22T00%3A56%3A07Z&sr=c&sp=rl&sig=pYDGXpK5DCIBG

[2021-04-02 16:35] steveisok commented on #534
/cc @premun

[2021-04-02 17:39] steveisok opened #535 "Cannot create Simulators on M1 helix instances"
In trying an arm64 simulator test run on CI, I noticed Xharness is not able to find any simulator to launch.  My guess is that they just need to be installed.

[code]

Here's the helix log for your reference:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/runtime-dotnet-a4f46f68016a43239c/System.Buffers.Tests/console.a860aa26.log?sv=2019-07-07&se=2021-04-22T17%3A28%3A30Z&sr=c&sp=rl&sig=S2

[2021-04-02 17:39] steveisok commented on #535
/cc @premun

[2021-04-06 12:24] greenEkatherine commented on #468
@mattleibow do you mean waiting for online device?

[2021-04-06 14:20] akoeplinger commented on #534
There's another issue in there, the job didn't fail right away but actually hung and was killed after the timeout if you look at the timestamps.

Probably related to mlaunch using `Will try launching the app using gdb service.` and hanging there.

[2021-04-07 08:59] #460 closed

[2021-04-08 09:33] premun commented on #535
@steveisok I found out that we need Xcode 12.4 while we only have 12.1. I successfully ran an XHarness job using 12.4.

I opened https://github.com/dotnet/core-eng/issues/12757

[2021-04-08 10:00] premun opened #540 "Do not log copy progress when installing app to iOS device"
**Context**
This is coming from mlaunch and there's currently no easy way to turn it off.

Example: https://helixre107v0xdeko0k025g8.blob.core.windows.net/runtime-dotnet-8827b6bd8fd943a98a/iOS.Device.Aot.Test/console.d06ef944.log?sv=2019-07-07&se=2021-04-22T00%3A56%3A07Z&sr=c&sp=rl&sig=pYDGXpK5DCIBG%2Ff5yYztEoJWSZZali1ws8zmmK0Wixs%3D

There's 23 000 lines of this in the log:
[code]

**Goal**
Eithe

[2021-04-08 10:58] premun commented on #534
Seems like this:
https://docs.microsoft.com/en-us/xamarin/ios/troubleshooting/mtouch-errors#mt1023-could-not-communicate-with-the-device-to-find-the-application---

I will ask Ilya on the sync today whether we should offline most of them so that DDFUN don't have to keep rebooting all of them and we will try to bring it back.

[2021-04-08 12:51] premun commented on #431
I have two things to add to this:
- I am more and more sure this can only be achieved using [C# 8.0 default interface implementations](https://devblogs.microsoft.com/dotnet/default-implementations-in-interfaces/)
- I think we should first have unit tests for the CLI so that we don't break passing any arguments. Then it will be safe to do this

[2021-04-09 08:55] premun commented on #534
I have disabled all but one machines in the queue:
- `DNCENGMAC047`
- `DNCENGMAC048`
- `DNCENGMAC049`
- `DNCENGMAC050`
- `DNCENGMAC051`
- `DNCENGMAC052`
- `DNCENGMAC053`
- `DNCENGMAC054`
- `DNCENGMAC055`

[2021-04-09 13:47] premun commented on #534
I noticed the phone was on **iOS 14.3** and we only had **Xcode 12.2**. I tried Xcode 12.3 and 12.4 but got the same results.
I also verified we are using USB and the WiFi is off on the MacMini.
I tested the XHarness locally again and it worked on my iPhone.

I will ask the Xamarin guys what could be wrong.

[2021-04-13 07:46] #468 closed

[2021-04-13 10:00] premun commented on #535
Will be resolved by dotnet/core-eng#12757

[2021-04-13 10:00] #535 closed

[2021-04-13 10:00] premun commented on #493
Blocked, waiting for new mlaunch

[2021-04-13 12:04] greenEkatherine opened #546 "Add leg to run tests on physical devices"
**Context**
Currently we don't run tests on physical devices in XHarness, therefore any failures can be detected only in [Arcade's pipeline](https://github.com/dotnet/arcade/blob/db49d790a4bfa977a9ed7436bf2aa242cefae45e/azure-pipelines.yml#L135-L148).

**Goal**
To detect [physical devices failures](https://github.com/dotnet/core-eng/issues/12790) earlier.

[2021-04-13 12:45] premun commented on #535
@steveisok the queue has been updated and the Simulators should work now.

[2021-04-13 21:57] MattGal opened #548 "Failed Instrumentation exit code is being coerced to 71 (General error)"
Noted in logs like this:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-65d2e387b3c9414e92/System.Xml.Xsl.XslCompiledTransformApi.Tests/console.8303b34d.log?sv=2019-07-07&se=2021-05-03T20%3A41%3A50Z&sr=c&sp=rl&sig=elT9SgYO477h1mNFm9Nc74Lzxjxyh3ybm6oPAtWIMxE%3D

Condensed version if the above log gets lost:
[code]

... this may have been intentional, but at le

[2021-04-14 08:10] greenEkatherine commented on #476
Raise pull request https://github.com/dotnet/xharness/pull/547
New parameter `--wifi` introduced:
- `--wifi [enable]` - switching wifi on
- `--wifi disable` - switching wifif off
- without this parameter no additional checks are providing as before

[2021-04-14 11:06] #476 closed

[2021-04-15 07:26] premun opened #549 "Android device is not authorized"
Happened in the Arcade CI:
[code]

Full logs:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-arcade-refs-pull-7237-merge-b9b094f6acca4bb5b6/System.Buffers.Tests-arm64-v8a/console.0ce4f811.log?sv=2019-07-07&se=2021-05-04T17%3A30%3A42Z&sr=c&sp=rl&sig=mTRbeg%2FHeHikjallXBr9u4%2BDAiGLQaOYCRMM%2B0VwK4w%3D

Build:
https://dev.azure.com/dnceng/public/_build/results?buildId=1088447&view=log

[2021-04-15 08:56] greenEkatherine commented on #548
Related to https://github.com/dotnet/xharness/issues/446
Good point, new special exit code for failed instrumentations should easily solve the case.

[2021-04-15 15:58] greenEkatherine commented on #525
It is not possible to pass environment variables to Android app. App runs not in a child process of `adb shell` so environment variables provided there are not visible for the app. I may suggest next workarounds:

- These variables still might be passed as `--arg` if they only needed inside the app as some parameters - it is already implemented
- Introduce new parameter or format for environment v

[2021-04-16 19:15] billwert commented on #525
Hi @greenEkatherine!

Using `-e` from `adb` to set values as the runtime approach shown is probably fine. @CoffeeFlux can you confirm this will happen early enough in the process for our purposes?

[2021-04-19 11:14] premun opened #552 "Add unit tests for apple commands"
**Context**
There was refactoring of code when we were introducing the new commands (`install`, `uninstall`, `just-run` and just-test`).
All of the logic was moved out of the CLI project into the Apple project so that it can be tested.

**Goal**
- [ ] Add unit tests around this new layer of logic (mostly for the `BaseOrchestrator` where most of the code is)
- [x] Add integration tests for the inst

[2021-04-19 14:25] premun commented on #534
I have discovered there's a new privacy feature in iOS 14 that requires user's action via a modal dialog to allow local network access:
![image](https://user-images.githubusercontent.com/7013027/115252452-c672a580-a12b-11eb-9bbd-9ddc945168fc.png)

We need to figure out what is needed (entitlement...)

[2021-04-19 18:54] CoffeeFlux commented on #525
@billwert I think that should work, since it seems like we're using it for `MONO_LOG_LEVEL` (which we also read in fairly early).

[2021-04-20 09:03] greenEkatherine commented on #525
great, in that case you may just reuse the same approach as for `MONO_LOG_LEVEL`. I will add this point into documentation. Is there anything else what I can do for this issue?

[2021-04-20 12:23] premun commented on #493
@imhameed you can use XHarness **1.0.0-prerelease.21220.1** and newer to control how the app is installed used and uninstalled.

I noticed one thing using the app you've sent me - the app should run the test and quit so that things work well.

The commands that you want to use:
[code]

This will be faster as it won't reinstall the app at each run. This will then immensely speed up scenarios with r

[2021-04-20 12:23] premun commented on #493
Closing as it is now implemented.

[2021-04-20 12:23] #493 closed

[2021-04-21 08:26] premun commented on #534
The failing launch might be resolved by an mlaunch fix that went in yesterday

[2021-04-21 09:43] premun opened #555 "Local networks access dialog in iOS 14"
**Problem**
iOS 14 introduced a new feature that requires user's approval through a modal dialog displayed on app launch.
This is needed to local network access (talking to the XHarness from within the iOS app).

![image](https://user-images.githubusercontent.com/7013027/115252452-c672a580-a12b-11eb-9bbd-9ddc945168fc.png)

This breaks XHarness.

**Possible solutions**
- Add new entitlements:
  - `

[2021-04-21 09:44] premun commented on #534
I forked the created a separate issue for the local network access: #555

[2021-04-22 08:33] premun commented on #540
I pushed an mlaunch fix that increases the needed verbosity for this. Now it's a simple fix

[2021-04-22 15:31] #555 closed

[2021-04-23 07:35] #540 closed

[2021-04-26 14:55] premun opened #565 "Could not launch the simulator application because a miscellaneous error occurred"
https://github.com/dotnet/runtime/issues/51862

I have offlined the machine `dci-mac-build-139`. It needs to be investigated.

[2021-04-27 03:42] bruno-garcia opened #568 "Use structured logging"
I noticed the code base is interpolating log messages such as:

https://github.com/dotnet/xharness/blob/83721524941aff6b628b0b943a8c193e1829985d/src/Microsoft.DotNet.XHarness.CLI/Commands/Android/AndroidRunCommand.cs#L168

In order to receive the template separate from the variable and allow structured logging, the log message should be recorded instead as:

[code]

[More about this on the logging

[2021-04-27 08:40] premun commented on #568
Thanks for this. I understand that it's always better to structure information rather than not in case we start using this somehow in the future.
I know that for systems like Application Insights or so we can query the structured data better but I guess we just didn't pay much attention to this since we are a command line tool with console logs only. But again, if we would start offering XHarness

[2021-04-27 21:52] bruno-garcia commented on #568
Cool. I'll see if I open a PR for this soon.

Another motivation for structured logging is for a tool like [Sentry](https://github.com/getsentry/sentry-dotnet) that will use the template for grouping, but display the interpolated message to users. This is useful because a `LogError` becomes an event that can raise an alert (the first time it lands). But multiple occurrences of it would not trigger

[2021-04-28 08:12] greenEkatherine commented on #525
@billwert please confirm if I may close it now

[2021-04-28 08:16] greenEkatherine commented on #531
The first part was done:

For the second part I would like to estimate how many log lines we would filter out. On my tests I got about 1%. Probably logs are now better because of the proper cleaning. @billwert could you please also check how logs are look like now and is there still necessity to add the filter by pid?

[2021-04-28 08:54] premun opened #570 "TCP tunnel not working for iOS devices"
mlaunch is **failing to open the TCP** tunnel for iPhone devices with iOS. Worked in iOS 13.6.1, doesn't work **in iOS 14.4.2**:
[code]
returns
[code]
which can be found [here (RealDevice.cs)](https://github.com/xamarin/maccore/blob/b9aaee72545d046614dd5fa77e947a9372381013/tools/mlaunch/Xamarin.Hosting/Xamarin.Hosting/RealDevice.cs#L742).

[The comment](https://github.com/xamarin/maccore/blob/b9aa

[2021-04-28 13:14] premun opened #572 "Warn when not using TCP Tunnel for iOS 14+"
When talking over direct TCP connection without a tunnel, a dialog like the one in #555 will be seen. The user should either confirm this dialog or know about the issue.

[2021-04-28 13:24] premun opened #574 "mlaunch doesn't exit when iOS app quits on iOS devices"
When running an app on iOS 14.4.2 device, mlaunch doesn't catch the notification about app quitting and it stays hanging until we timeout.
The test then succeeds as everything completed fine.

Logs:
[code]

[2021-04-29 08:09] #570 closed

[2021-04-30 19:31] fanyang-mono opened #584 "Allow Android arm32 apps to run on Android arm64 devices"
Currently, if I try to run Android arm32 test apps on Android arm64 devices, I ran into the following error
[code]
However, theoretically, it should be allowed, according to android docs:

[2021-05-04 09:34] premun commented on #534
This was resolved by matching the Xcode versions with the device OS version

[2021-05-04 09:34] #534 closed

[2021-05-05 01:25] steveisok commented on #534
Confirmed the app launches.  Unfortunately, the exit code isn't right on the functional test :-(

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-50587-merge-0de24a307b454e5da8/iOS.Device.Aot.Test/console.c3a2c633.log?sv=2019-07-07&se=2021-05-24T18%3A57%3A57Z&sr=c&sp=rl&sig=Y5zvTo31Hr1Fv1Wwph2gX1ftUZvIv9%2Br%2Bzio%2F1CpcNk%3D

[2021-05-05 07:36] premun commented on #534
@steveisok the reason for that is #574

[2021-05-05 11:35] premun opened #589 "Describe when is each exit code used in `ExitCode.cs`"
Add descriptions explaining when (platform, scenario) is each exit code used

[2021-05-05 12:27] premun opened #590 "Wrap custom user Helix payloads into the Helix SDK job scripts"
**Context**
The Helix SDK has [wrapper scripts](https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/xharness-runner.apple.sh) for execution of XHarness payloads that does tricks around user sessions, signing, re/starting of the simulator and so on. The iOS payloads won't work without it. The point of having the Helix SDK is to capture these necessities a

[2021-05-05 12:28] premun commented on #590
@imhameed not sure how far you are with running the `install`, `just-run`, `uninstall` commands in Helix, but I realized today that it won't work until the above happens.

[2021-05-05 12:53] imhameed commented on #590
Good to know. So far I've been prototyping with `apple run`, so I haven't encountered this yet.

[2021-05-05 13:03] premun commented on #519
Code for this was added in #588 but is not active yet

[2021-05-05 13:04] premun commented on #565
Cannot SSH/KVM to the machine, will give it some time and try again

[2021-05-05 13:08] SamMonoRT commented on #584
This is blocking enabling test validation in CI on Arm32 apps.

[2021-05-05 13:19] premun commented on #590
@imhameed roughly when do you think this will start to block you? The commands work on your local just won't work in Helix. Android commands would work in Helix.

[2021-05-05 13:30] greenEkatherine commented on #584
Looking into it now

[2021-05-05 13:37] greenEkatherine commented on #584
@fanyang-mono meanwhile as a workaround you may put explicit parameter `--device-arch="arm64-v8a"` to force running on these devices

[2021-05-05 15:34] premun commented on #590
I just got this work prioritized because I see it will be a blocker for you. I estimate around 4 days of work so it would be ready next week.

[2021-05-06 07:58] greenEkatherine commented on #525
Confirmed offline with Bill that it can be closed now

[2021-05-06 07:58] #525 closed

[2021-05-06 07:59] greenEkatherine commented on #531
Confirmed offline with Bill that it can be closed now

[2021-05-06 07:59] #531 closed

[2021-05-06 12:46] greenEkatherine commented on #584
@fanyang-mono @SamMonoRT could you please provide test APK for this?

[2021-05-06 12:59] greenEkatherine commented on #584
This problem might require two changes. The first one - and I started with it - continue looking for compatible devices if we detect more then one architecture from APK. As a bonus of this change there will be possible to provide `--device-arch` more than once. I think it makes total sense because application may target more than one architecture.

Then I need APK to test if the first part would b

[2021-05-06 15:30] greenEkatherine commented on #584
I've raised PR for the first part https://github.com/dotnet/xharness/pull/591

[2021-05-06 16:08] fanyang-mono commented on #584
Talked to Katya offline. She will use one of the apk that she has.

[2021-05-06 21:12] MattGal commented on #548
@greenEkatherine is there any ETA on this?  I am seeing way too many of these failures in runtime to use general exit code to look for bad-state machines.

[2021-05-07 10:59] greenEkatherine commented on #548
I got answer from Alexander (see in https://github.com/dotnet/xharness/pull/576) and I only need approve to merge it

[2021-05-07 11:28] greenEkatherine commented on #584
I've merged https://github.com/dotnet/xharness/pull/591 it should fix the issue. If not please let me know, I will prepare change to check compatibility from the side of a device as well.

[2021-05-07 11:59] greenEkatherine commented on #584
XHarness version with fix `1.0.0-prerelease.21257.1` https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-eng&package=Microsoft.DotNet.XHarness.CLI&version=1.0.0-prerelease.21257.1&protocolType=NuGet&view=overview

[2021-05-07 15:50] #446 closed

[2021-05-07 15:50] #548 closed

[2021-05-10 15:38] greenEkatherine commented on #549
The latest occurrence https://dev.azure.com/dnceng/public/_build/results?buildId=1126311&view=logs&j=21143b0a-ace1-5058-215e-b11404388d17&s=ee3800fd-6e81-525f-e564-94108585217d&t=b6047ca6-0230-5e90-2195-54379d550513&l=31

[2021-05-11 14:48] #546 closed

[2021-05-11 17:20] greenEkatherine commented on #549
Query to find all these failures:
[code]

[2021-05-12 20:51] ilyas1974 commented on #549
I talked with @parose1 and he is going to check the above systems and validate the that the systems are set up correctly.

[2021-05-12 21:17] parose1 commented on #549
Hello, I connected to DNCENGWIN-057, 111, and 113 and was able to run adb commands and did not get any authorization issues. When I created the MLS ticket to have them enable USB debugging I asked that "Always allow from this computer" was selected. Are you still getting authorization issues on these machines?

![image](https://user-images.githubusercontent.com/48035740/118045438-bfa31100-b32c-11e

[2021-05-13 08:34] greenEkatherine commented on #549
@parose1 thank you for confirmation, yes, it's ok now. It seems that issue was mitigated after some time - probably after reboot/update.

Do you know, does this window always prompted? Would it be a good idea to add into this ticket additional check that `adb devices -l` doesn't show some unauthorized device?

[2021-05-13 11:15] premun opened #595 "Failed to launch an app on Helix AppleTV device"
[code]

Full logs:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-50587-merge-478c12e68de6415e80/tvOS.Device.Aot.Test/console.4cb3b082.log?sv=2019-07-07&se=2021-06-02T03%3A56%3A24Z&sr=c&sp=rl&sig=M%2F46z3bbbAdgvdq1PXUfETFyvR6ozsJ6nBlLsrOUnPU%3D

[2021-05-13 12:43] imhameed opened #596 "Capture stderr and stdout when running iOS apps"
mlaunch has two options that capture stderr/stdout: `--stderr=path/to/outfile.txt` and `--stdout=path/to/outfile.txt`. When I launch a failing test manually using these options, I see a bunch of useful information that I don't see when using `xharness apple run` or `xharness apple just-run`, even when using maximum xharness verbosity.

An example:

[code]

Here's an xharness apple run command:
[co

[2021-05-13 13:28] steveisok commented on #595
/cc @akoeplinger @directhex

[2021-05-13 14:14] steveisok commented on #596
This is important to have available as we don't have enough information on CI to determine why an app crashed, for example.

[2021-05-13 15:26] parose1 commented on #549
@greenEkatherine I'm not sure if the "Always allow from this computer" prompt always appears when re-authorizing the phone to the host. I do have MLS run the 'adb devices -l' command to verify before handing back to me. I also reboot the machine and run the adb commands again just to be sure as the device would go back to unauthorized after a reboot if "Always allow from this computer" was not sel

[2021-05-13 15:49] greenEkatherine commented on #549
@parose1 thank you for your help, I think it should be enough from your side. From our side I'm going to raise PR where I will add indication of that state with specific exit code, not just `GENERAL_FAILURE` as it is now

[2021-05-13 16:43] premun commented on #596
Whatever was going to app's stdout/stderr was piped to the `run-` or `test-` log if I am not wrong. We shouldn't be technically missing anything already, it's just in one of the attached files. But I spoke with Imran and we should pipe it to XHarness' stdout so it gets more visibility. I will double check we have everything that is written down in this issue.

[2021-05-13 16:47] imhameed commented on #596
If you check the attached xharness-generated files for a relevant substring from stdout.txt--like "is_ok (error)"--you'll find that it's missing. And when xharness executes mlaunch, it doesn't pass either `--stderr` or `--stdout`, so that output is lost.

[2021-05-13 16:57] imhameed commented on #596
Looks like stdout capture is present when running apps on devices: https://github.com/dotnet/xharness/blob/9596c3fbbb718819bc4bb9a9e3f6271b50fc718a/src/Microsoft.DotNet.XHarness.Apple/AppOperations/AppRunner.cs#L312

stderr is not captured on devices. And neither stdout nor stderr are captured on the simulator.

But yeah, piping all this to xharness's stdout, preferably not interleaved with the re

[2021-05-13 21:02] steveisok opened #597 "PACKAGE_INSTALLATION_FAILURE happening on some Android work items"
From my observation today, this seems pretty flaky and hasn't yet impacted too many work items.

The failures occur on the Android arm64 (device) leg.  Here are examples:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-8f7622f0765e44d792/System.ComponentModel.EventBasedAsync.Tests/console.6f6858ae.log?sv=2019-07-07&se=2021-06-02T19%3A06%3A59Z&sr=c&sp=rl&sig=s

[2021-05-13 23:13] steveisok commented on #597
It looks like this might be machine/device specific.  Namely `DNCENGWIN-020 & DNCENGWIN-022`

[2021-05-14 08:51] premun commented on #565
Might be related to https://github.com/dotnet/core-eng/issues/13068

[2021-05-14 09:05] premun commented on #595
I tried to run this locally and got different results: https://github.com/xamarin/maccore/issues/2441

So I will try to connect to Helix and see.

[2021-05-14 11:56] #596 closed

[2021-05-14 12:44] premun commented on #565
I have connected to the machine but couldn't repro. I tested everything + did some tests around the new app uninstallation and returned the machine back in the pool. Will reopen if this comes back.

[2021-05-14 12:44] #565 closed

[2021-05-14 14:26] #584 closed

[2021-05-17 03:40] imhameed opened #601 "Allow customizing the name of the stdout/stderr log files generated by mlaunch"
In https://helix.dot.net/api/jobs/29d28251-7a46-4278-bf6c-a77572d254f0/workitems/JIT.CodeGenBringUpTests?api-version=2019-06-17, there's only one pair of stdout/stderr logs available, despite there being multiple tests contained within this app bundle. Also, the logs are totally empty, even when being `cat`ted immediately after xharness returns.

It'd be helpful to be able to specify some part of

[2021-05-17 11:53] #549 closed

[2021-05-17 14:05] premun commented on #601
@imhameed I am not sure about whether this functionality belongs to XHarness. I would much rather prefer you did
[code]
rather than cluttering the CLI with options around file system behavior.

I will talk to my team first about this but I don't think we want to have ~100 lines of C# around this logic.

[2021-05-19 08:31] #601 closed

[2021-05-19 14:50] mandel-macaque commented on #595
We should ensure that Xcode and the OS match, if they do not, we should raise a better exception than the above. Even if mlaunch is not doing the check, we should be able.

[2021-05-19 14:52] premun commented on #595
Agree, I just need to make sure it is the only reason for this error

[2021-05-24 12:45] greenEkatherine commented on #597
I logged in 4 machines to check. DNCENGWIN-50 and DNCENGWIN-120 were affected but they are ok now. DNCENGWIN-20 and DNCENGWIN-71 were not resolved. I see that there are adb server running on them and I think this is the root cause. It may not be killed since previous run so when we get this error we should try to kill it, then start and try to install apk.

[2021-05-24 12:50] premun commented on #597
This is a nice find.

Side note: In iOS we kill the `Simulator.app` in Helix SDK before the work item starts - if you confirm that already running/hanging adb process is the cause, it's totally fine killing before every work item just to be sure.

So you should decide where you draw the line between what XHarness does and what is the desired machine state and put that in the layer that is Helix SD

[2021-05-24 14:03] greenEkatherine commented on #597
What if to kill adb only in case when `adb install` command returns time out? We do it now but in case when install returns broken pipe

[2021-05-24 14:09] premun commented on #597
Yeah, sure, makes sense then. I don't know the Android world much so just adding my two cents. If we already handle adb like this then it's good to do the same for this case as well

[2021-05-24 15:10] premun commented on #595
The Xcode is 12.4 and tvOS is 14.3 so we should be good from this point of view. So something else is broken.

I was able to do a successful run locally with same Xcode but tvOS was 11.4.
I can only update my test device to 14.5 and I am a bit worried to do that..

[2021-05-25 09:41] premun commented on #595
I have verified that things don't get better when run manually on the machine. So the root cause has nothing to do with how we run Helix processes, how we do `sudo launchctl` etc.

[2021-05-25 14:21] greenEkatherine commented on #597
I cannot reproduce it to test my fix, so will compare statistics after merge. I considered three types of solutions for this issue:

1. Increase adb timeout - but it is set up to 5 mions and it should be enough
2. Restart adb (my fix)
3. Change usb port - I think it is not the case because there are no machines where all installations are timed out

[2021-05-25 14:48] fanyang-mono opened #610 "Add timestamp to the log"
I am trying to investigate a test timeout issue. It would be helpful to have timestamps in the log. Right now xharness print logs like this:
[code]
It would be nice to have logs like this
[code]

To achieve this, `DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss.ff")` should be added to the following places
https://github.com/dotnet/xharness/blob/b2297d610df1ae15fc7ba8bd8c9bc0a7192aaefa/src/Microsoft.Do

[2021-05-25 14:57] premun commented on #595
I have verified that this is not BCL app's fault. I created an app in Xcode and sent that one and got the same result.

[2021-05-25 15:42] fanyang-mono commented on #610
@premun  This is one of the log that you could take a look.

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-49662-merge-231998ab087a41dcac/PayloadGroup0/console.d239c696.log?sv=2019-07-07&se=2021-06-13T22%3A51%3A55Z&sr=c&sp=rl&sig=wEFDfBxSxLT2W9ShoHLaz4nlGeIC7JKwVJXreJG5fRE%3D

[2021-05-25 16:55] #597 closed

[2021-05-26 10:33] premun commented on #595
The AppleTV devices in Helix are sleeping which is a problem when running the application

[2021-05-27 02:12] VincentBu opened #672 "Runtime tests have issues finding the testing app on Android x64"
Run: [runtime 20210526.87](https://dev.azure.com/dnceng/public/_build/results?buildId=1158368&view=ms.vss-test-web.build-test-results-tab&runId=34967404&resultId=100881&paneView=debug)

Failed tests:
[code]
**One of Error messages:**
[code]

[2021-05-27 09:36] premun commented on #595
Moving to blocked, MLS needs to "unsleep" a device for me

[2021-05-27 17:22] lambdageek opened #611 "Catalyst: open -W after I/O inside .app Contents is flaky"
It seems like doing I/O inside the `Contents/` of a catalyst .app will sometimes make `open -W that.app` fail
with:

[code]

Investigated here: https://github.com/dotnet/runtime/pull/53197#issuecomment-849800410

in my case I was doing `cp -R`, but dotnet xharness (or dotnet helix, I'm not sure) is doing `chmod +x`.  In either case, I think sticking in a `sync` before the `open -W` is a good idea.

[2021-05-27 18:21] fanyang-mono opened #612 "[Android] cmd: Can't find service: package"
I just encountered the following error when qualifying my PR on CI. It failed to uninstall Android app on emulator. Here is the [full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-53357-merge-f12a54fd73284fa9ad/JIT.Directed/console.162c087a.log?sv=2019-07-07&se=2021-06-16T15%3A58%3A18Z&sr=c&sp=rl&sig=SxG58TlRChh8FxbqcXn66aLgDN64kXi5MtBaxGLUgSE%3D)

Error mess

[2021-05-28 02:32] lambdageek commented on #611
Hmm... doing some testing by modifying xharness.

Seems like `sync` is not enough.

This [stackoverflow answer](https://stackoverflow.com/a/66550760) seems to suggest that we should run
`lsregister -f`

[code]

Going to give that a try

[2021-05-28 09:33] #502 closed

[2021-05-28 10:34] #611 closed

[2021-05-28 10:50] premun commented on #453
We don't really need this atm

[2021-05-28 10:50] #453 closed

[2021-05-28 10:50] premun commented on #452
We don't really need this atm

[2021-05-28 10:50] #452 closed

[2021-05-28 11:49] premun commented on #610
We discussed this offline. Nothing we can do as this is not the test runner in question

[2021-05-28 11:49] #610 closed

[2021-05-31 07:47] #572 closed

[2021-06-01 10:41] greenEkatherine opened #619 "RCA: all Pixel 4a devices were found in recovery mode"
Since May 20th and following days all new Pixel 4a devices (DNCENGWIN046 and above) lost connection and were found in recovery mode https://github.com/dotnet/core-eng/issues/13183
Now they are recovered and back online but we need to find a root cause and prevent it in the future.

[2021-06-01 13:43] greenEkatherine commented on #619
I see a pattern on many machines after the last passed test, other tests started failing to install apps with the same exception:

[code]

I didn’t see this exception before, when I was fixing PACKAGE_NOT_INSTALLED error, it usually was just timeout.

[2021-06-02 11:27] premun commented on #595
Resolved.

Successful job here: https://helix.dot.net/api/jobs/bd3c3389-f24c-427c-ad0f-5fa0b3cb88a4/workitems/System.Buffers.Tests?api-version=2019-06-17

[2021-06-02 12:19] #467 closed

[2021-06-02 17:29] premun commented on #595
Ah, there's 2 tickets. I forgot about the other one.

[2021-06-03 09:55] #595 closed

[2021-06-03 12:29] premun opened #622 "10.15 AppleTV devices not visible to XHarness"
- After the `Sleep` setting was changed by MLS, XHarness stopped being able to detect the AppleTV devices
- I have had a period of builds where all failed then a period when all succeeded and then all failed again (can it be something about the devices not having IP?)
- Xcode takes a long time (5 minutes) to load the device
![image](https://user-images.githubusercontent.com/7013027/120643680-c0841

[2021-06-03 12:55] premun opened #623 "Disregarding wireless Apple devices speeds up device scan by 18 seconds"
**Context**
- By default, mlaunch scans for devices connected by cable and also by WiFi
- The default timeout for wireless detection is 20 seconds, default for wired is 2 seconds
- All Helix devices are wired and we should then drop these extra 18 seconds since we don't need it
- This will speed up the runtime tests immensely and will also speed up regular device tests

**Goals**
- We should still

[2021-06-03 13:41] premun commented on #622
This was resolved by rebooting the machines in the queue...

[2021-06-03 13:49] greenEkatherine commented on #619
It's interesting that DNCENGWIN-022 is also a device with API 30. I'm taking it offline to investigate while the device there is still working
![image](https://user-images.githubusercontent.com/19972657/120655665-32626080-c483-11eb-8dbe-bf6c098ec35d.png)

[2021-06-03 16:31] premun commented on #622
Similar problem happened with the iPhone queue:
https://github.com/dotnet/xharness/pull/624

We should do reboot+retry for device tests that have "Device not found"

[2021-06-03 16:37] greenEkatherine commented on #612
Noticed on a000PC0 as well - many 78 errors

[2021-06-06 21:12] radical opened #626 "WebServer used for wasm, should use `https` only when needed"
`https` support was added for hosting an echo server, to help some networking tests in `runtime`. For `wasm test-browser`, we use a web server to host the app itself too, which is used for library tests, wasm build tests, debugger tests etc. And those don't need `https`.

But `https` is always being used for `wasm test-browser` now, which then requires dev certs to be installed. This should be use

[2021-06-07 07:46] premun commented on #519
We did this anyway, it just runs longer

[2021-06-07 07:46] #519 closed

[2021-06-07 15:18] #622 closed

[2021-06-07 15:30] #626 closed

[2021-06-08 15:26] greenEkatherine commented on #619
I did analysis of the device connected to DNCENGWIN-022 and it really helps. There were many installations failed and overall it looked like that device goes soon into recovery mode as it was with all other devices with API 30.

Storage looks good - only 15%, so it wasn't a clean up issue:
![image](https://user-images.githubusercontent.com/19972657/121192606-6667c800-c86d-11eb-97c7-72e51b2d6a40.pn

[2021-06-08 17:20] akoeplinger commented on #619
@greenEkatherine the reason why DNCENGWIN-022 looks different is because the device attached to it got replaced: https://github.com/dotnet/core-eng/issues/13102

Great investigation!

[2021-06-10 08:35] premun opened #631 "Simulator installation fails to download the `.dmg`"
[code]

We probably need retries? Or download large files like this more cautiously?

[2021-06-10 12:24] #619 closed

[2021-06-10 17:22] greenEkatherine commented on #619
Fix is merged in XHarness version 1.0.0-prerelease.21310.3, we are ready to run tests on Pixel 4a devices

[2021-06-11 16:05] premun opened #636 "`apple uninstall` runs uninstallation twice"
Once as the regular uninstallation that happens to be sure, then the normal one.

[2021-06-14 10:03] premun commented on #574
Seems like we stopped receiving the `pidDiedCallback` in mlaunch

[2021-06-14 13:58] premun commented on #636
Also first uninstall should not output errors if it fails

[2021-06-14 13:59] premun commented on #631
Apparently the simulator installer also stopped working for Xcode 13 beta 1

[2021-06-15 12:39] #431 closed

[2021-06-15 13:17] premun opened #640 "Getting local IP addresses fails on some OSX machines"
**Context**
We see intermittent issues when listing all local interfaces which are then used for the direct network connection.
These are then sent to the app so it can connect back.

[code]

Full logs: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-xharness-refs-pull-639-merge-174d8070e8dd4887b2/System.Buffers.Tests/console.81038bca.log?sv=2019-07-07&se=2021-07-05T13%3A00%3A05Z&sr=

[2021-06-15 15:01] premun commented on #623
This will shave off 77 minutes of build time per each BCL test suite (each runtime-staging).

This will also shave off 18 seconds **per each mono runtime test**.

[2021-06-16 08:58] #623 closed

[2021-06-16 09:09] #636 closed

[2021-06-16 15:23] greenEkatherine opened #644 "Error getting ADB bugreport on API 21"
After app crashed XHarness failed to get bugreport with the error message:
[code]

Build https://dev.azure.com/xamarin/public/_build/results?buildId=41590&view=logs&j=dd18a2d5-2e4c-5ccd-8c00-4b4d347e66ba&t=883bb964-b431-5e95-fb8b-cec2c28425c6

/cc @mattleibow

[2021-06-16 15:30] premun commented on #387
No plans to do this

[2021-06-16 15:30] #387 closed

[2021-06-18 12:34] premun opened #647 "Collecting crash dumps can fail if they are still being written"
[code]

[2021-06-18 12:47] premun commented on #640
These are the machines where this happened:
- `DNCENGMAC005`
- `DNCENGMAC016`

I found out that the OSX machine where it failed reproduces it 100% of the time:

Program.cs
[code]

Program.csproj
[code]

[2021-06-18 13:42] premun commented on #640
So adding this line into `/private/etc/hosts` and rebooting did the trick:
[code]

The command for that is:
[code]

[2021-06-18 14:04] premun commented on #640
@akoeplinger do you know if we hit this issue on OSX in BCL before? I feel like we must have and maybe there's a better way than to update our whole infra?

(not really know whom to ask)

[2021-06-21 14:54] aik-jahoda commented on #640
I can confirm the code above don't return loopback addresses. Can you use "localhost" instead of Dns.GetHostName()?
cc @ManickaP

[2021-06-21 20:33] ManickaP commented on #640
AFAIK you'll get only the basic 2 addresses for localhost:
[code]

We have a check for your own hostname and you'll get addresses of all interfaces (including link-local IPv6), e.g.:
[code]

So this depends on what the code is trying to achieve.

[2021-06-22 07:55] premun commented on #640
@ManickaP I have stated my intention bad. The intention is to provide all local network addresses for a hostname (where hostname=localhost in the sense I execute the command on the machine that I want the addresses for).

The output I want and the output I get on some OSX machines is this:
[code]

However, on some machines, I get an exception when calling:
[code]

The only remedy is to add this to

[2021-06-23 13:01] ManickaP commented on #640
This is an error returned by the OS: `EAI_NONAME` or `EAI_NODATA` from [`getaddrinfo`](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man3/getaddrinfo.3.html)

I don't have an access to any iOS/OSX, so I cannot reproduce this. Seeing `DNCENGMAC016.local` there, do you have properly set up hostname (`/etc/hostname`)? The `.local` suffix suggests Avahi/

[2021-06-23 14:16] premun commented on #640
Running `hostname` returns `DNCENGMAC016.local`. I didn't find `/etc/hostname`.

Alright, will do then! Thanks!

[2021-06-24 12:41] premun commented on #640
@ManickaP so there is no other way to find out the local network addresses other than this?

[2021-06-24 13:27] ManickaP commented on #640
You could also list all network interfaces and get addresses from them: https://docs.microsoft.com/en-us/dotnet/api/system.net.networkinformation.networkinterface?view=net-5.0, i.e.: `NetworkInterface.GetAllNetworkInterfaces()`.

But this might be quite slower and you might hit even more problems with it. I know we had some recent work done it by @wfurt since it was unexpectedly throwing in some c

[2021-06-24 13:43] wfurt commented on #640
What DNS feels about the name and what is actually configure on interfaces can be (completely) disjoined sets.
DNS typically does not include the IPv6 link-local fe80:: address e.g. has only the one global reachable.

`/etc/hostname` does not exist on OSX @ManickaP. If anything the (/private)/etc/hosts would be right fix. e.g. it would complement DNS looking for given name.

My recommendation woul

[2021-06-24 13:45] premun commented on #640
That makes sense.

Thank you both!

[2021-06-24 14:53] premun opened #653 "Collect more logs when Apple apps crash"
Example run:
https://dev.azure.com/dnceng/public/_build/results?buildId=1202322&view=ms.vss-test-web.build-test-results-tab

We should check what all we can collect and are not collecting in these cases.

[2021-06-25 13:51] premun opened #655 "Simulators on `dci-mac-build-133` break quite often"
Needs to be investigated

[2021-06-28 11:09] premun commented on #631
Closing as I haven't seen it any more, might have been apple redeploying their services

[2021-06-28 11:15] premun commented on #653
I tried to repro with the app from the job above and was getting
[code]

Haven't seen that before

[2021-06-28 11:28] premun commented on #631
I see this on Xcode 12.4:

[code]

[2021-06-28 12:34] greenEkatherine opened #660 "Insufficient internal & external storages on `ubuntu.1804.amd64.android.open.rt`"
About 800 test failed in last 4 days due to installation error. There was no enough space [on SD](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52510-merge-7f6474349be942b9b4/System.Xml.Linq.Streaming.Tests/console.c4e909dc.log?sv=2019-07-07&se=2021-07-16T23%3A52%3A52Z&sr=c&sp=rl&sig=p4Y0SxZ%2FkfTFAJhf3EgeuHfV9%2BSjc0Ao8Fbq8yrJf6Y%3D) as well as in [internal stora

[2021-06-28 14:47] premun commented on #653
@steveisok I was able to get the following app output from the crashing arm HelloiOS app:
[code]

I guess this is what you are after when debugging crashes?

[2021-06-28 15:12] steveisok commented on #653
Yes!

[2021-06-29 13:33] greenEkatherine opened #663 "XRunner tests start failing due to timeout"
Since June 24 we noticed many failures for JIT* tests:
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/19972657/123806342-208fa400-d8ef-11eb-8377-562deb38b73a.png)

Example build https://dev.azure.com/dnceng/public/_build/results?buildId=1208782&view=logs&j=1fbc174f-133f-57a8-dcec-0de15ad033b4&t=a697e205-a0a3-5096-6a0a-07ceb96d569b

It might be related to XHarness or Arcade u

[2021-06-29 14:01] akoeplinger commented on #640
In Mono we did occasionally run into an issue where resolving the machine name to IP addresses didn't work due to some weirdness with the DNS servers in the MSFT lab network. I think I'd prefer using `NetworkInterface.GetAllNetworkInterfaces()` instead.

[2021-06-30 09:35] premun opened #666 "AppleTV device didn't connect to the TCP tunnel"
AppleTV device didn't connect to the TCP tunnel. We should investigate this.

[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-xharness-refs-pull-664-merge-3f83fc26e89142f59b/System.Buffers.Tests/console.2c9b7168.log?sv=2019-07-07&se=2021-07-20T08%3A18%3A22Z&sr=c&sp=rl&sig=reAnuPcckRTPeD6mUzDhzxfefHvxtnkxNBaoOF4S6HA%3D

[2021-06-30 09:59] premun commented on #510
Closing this as it's probably not going to happen and if it will, not sure what role XHarness will play in it. We can reopen if we chose to revisit this

[2021-06-30 09:59] #510 closed

[2021-06-30 10:09] premun commented on #655
I opened https://portal.microsofticm.com/imp/v3/incidents/details/248293423/home to have it re-imaged as this machine has been causing issues for a very long time and I wasn't able to find anything off around Xcode and simulators

[2021-06-30 11:04] greenEkatherine commented on #660
I checked several machines and this issues is intermittent, so after it happens it is usually followed by passed jobs. However, I tried to check free space and I get:
[code]

My first suspicion was that apps were not properly uninstalled, but I checked previous jobs and didn't see any issues with uninstallation. I'm trying to connect to VM to find more details about what might fill all the space t

[2021-06-30 15:16] #653 closed

[2021-07-01 16:58] greenEkatherine commented on #660
PR with 2x storages to unblock tests https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/16345

[2021-07-01 17:03] greenEkatherine commented on #660
Meanwhile I continue investigation what takes all space (logs? test results?). I'm struggling to connect to VM via jump box, so use jobs with payload and it slows down work

[2021-07-07 08:27] #640 closed

[2021-07-07 08:49] greenEkatherine opened #671 "Set android-sdk path as a parameter"
For further safely increasing space we need an ability to configure the path to android-sdk
Follow-up https://github.com/dotnet/xharness/issues/660

[2021-07-07 09:06] #647 closed

[2021-07-07 09:07] premun commented on #655
The machine has been re-imaged, I will put this in Validate state and check in few days if the machine is doing fine

[2021-07-07 10:20] #631 closed

[2021-07-07 10:21] premun commented on #168
This is possibly resolved by the `IDisposable` refactoring I have made and doesn't seem like it's related to 32 bit. Closing

[2021-07-07 10:21] #168 closed

[2021-07-07 13:31] premun commented on #457
It seems that it's way easier to just wait for the new SDK workloads and build apps in XHarness PR pipeline and have coverage for TestRunner changes this way.

[2021-07-07 15:04] #457 closed

[2021-07-07 17:41] greenEkatherine commented on #660
PR merged and rolled out today, so new machines will have more space

[2021-07-08 13:12] premun commented on #666
Closing as I only found 1 instance of this

[2021-07-08 13:12] #666 closed

[2021-07-08 14:00] premun commented on #672
Quick glance it seems like the installation of the app failed because there was no space on the device so probably the runtime tests should fail there and not try further?

**JIT_jit64_install.output.txt**
[code]

@greenEkatherine we're tracking this somewhere already, right?

[2021-07-08 14:11] greenEkatherine commented on #672
@premun yes, for issues with 78 exit code and message with "not enough space" either internal or external we raised the issue https://github.com/dotnet/xharness/issues/660
Fix was rolled out yesterday so it should mitigate on new machines.

But also I see there are few logs with 85 exit codes which means we cannot find a device. I need to check it separately

[2021-07-08 14:33] premun commented on #672
@greenEkatherine my point was that it seems like the runtime tests call the `install` command but ignore the exit code and then they proceed to call the `run` commands which then return "device not found" since there's no device with the app?

So I think the exit code can be misleading?

And we should probably stop the execution if we fail the installation?

[2021-07-08 15:11] greenEkatherine commented on #672
ah, got it, nice catch! @premun you are right, tests failed with exit code == 85 because installation on previous step failed and we cannot find a device with app installed

It means that fix for https://github.com/dotnet/xharness/issues/660 should solve the issue from our side. @fanyang-mono could you please add a check for an exit code from `install` command and stop if it fails?

[2021-07-09 09:13] premun commented on #655
Seems like the macs have now a different set of problems and have been offlined, putting to blocked

[2021-07-09 11:42] greenEkatherine commented on #660
@steveisok did it help? I see 10x less tests with exit code == 78 for last 24 hours and no one due to space issue. There are intermittent errors that might be solved by switching to another machine and it's out of scope for this issue.

[2021-07-09 13:47] fanyang-mono commented on #672
Yes, I will add that check.

[2021-07-09 17:20] greenEkatherine opened #673 "Adjust arguments for different commands"
Some arguments are not consistent between different commands, we need to understand which parameters might be added/removed/made optional, i.e.:
[code]

[2021-07-14 09:18] greenEkatherine commented on #663
@fanyang-mono please confirm if it's still reproduced

[2021-07-14 09:21] greenEkatherine opened #675 "Infra-retry in case of installation failure"
Now in arcade we have logic that allow to retry running job on another machine and optionally reboot current one. Currently we use it only when we cannot find a proper device (exit code == 85).
I check data and found out that in case of exit code == 78 - installation failure - it also makes sense to try another machine.

**Goal:**
Reduce tests failing due to installation errors

[2021-07-14 17:29] fanyang-mono commented on #663
Sadly it is still reproducible for running tests on Android devices. It happened for running tests for both arm64 and arm32.
Here are the builds:
Arm64: https://dev.azure.com/dnceng/public/_build/results?buildId=1237549&view=logs&jobId=1fbc174f-133f-57a8-dcec-0de15ad033b4&j=1fbc174f-133f-57a8-dcec-0de15ad033b4&t=a697e205-a0a3-5096-6a0a-07ceb96d569b
Arm32: https://dev.azure.com/dnceng/public/_build

[2021-07-16 13:32] greenEkatherine commented on #663
For both cases it shows space issue. Tests that run later provide empty output so to identify this we need to check the earliest tests in one run. I'm going to check the state of the .devices

[2021-07-16 15:04] greenEkatherine commented on #663
I see that there are many JIT* tests left on devices, I'm going to clean it.
@fanyang-mono did you update those PRs to use the latest fix for proper uninstallation?

[2021-07-19 12:16] greenEkatherine commented on #663
All devices were cleaned up

Cleanup powershell script for future reference:
[code]
@fanyang-mono you may try again but first please make sure that apps properly uninstalled

[2021-07-20 13:28] #660 closed

[2021-07-20 14:59] greenEkatherine commented on #644
On old API (<24) we should use `adb bugreport > file.txt` instead of newer `adb bugreport file.zip`
I successfully run it locally with adb and now need to fix inside XHarness.

[2021-07-21 07:43] greenEkatherine opened #678 "Test apk targeting API 30"
There were changes related to security on API 30 that might affect XHarness work. We need to test to find possible issues.

[2021-07-21 07:55] greenEkatherine commented on #612
I see from that old build that only one test failed. I cannot find any examples among recent jobs, probably it was related to the space issue. @fanyang-mono did you notice this issue since then?

[2021-07-21 12:02] premun opened #679 "Add a clean command"
### Context
Since not every job can clean up after itself properly and applications can stay behind on the devices/simulators, we would ideally clean them after the Helix work item is finished.

Since cleaning them requires ADB/mlaunch, it is better to have code cleaning the devices in XHarness and execute it from there.

### Goal
Introduce a new command `clean` for both Apple and Android that wou

[2021-07-21 12:02] premun commented on #679
I see couple of problems with this though:
- If Helix work item times out, we will never get to this clean up. We can consider adding a timeout for the actual injected commands that we are running to make room for clean-up though.
- XHarness `run` and `just-` commands which require the user to call `uninstall` usually do so, if they time out, we have the same problem as in the above point.
- XHarn

[2021-07-21 12:49] premun commented on #655
All of the machines were returned to online state except of this one. Returning it too

[2021-07-21 13:54] #590 closed

[2021-07-21 17:18] fanyang-mono commented on #612
I haven't encountered this issue recently.

[2021-07-22 11:11] premun commented on #655
Machine looks good, closing

[2021-07-22 11:11] #655 closed

[2021-07-22 11:28] greenEkatherine commented on #612
Ok, then I'm closing it

[2021-07-22 11:28] #612 closed

[2021-07-27 15:18] greenEkatherine commented on #672
Check was added and related issue was resolved, closing

[2021-07-27 15:18] #672 closed

[2021-07-28 13:03] #644 closed

[2021-07-28 13:51] greenEkatherine commented on #644
@mattleibow fix was published in version `1.0.0-prerelease.21378.1`

[2021-07-28 16:41] mattleibow commented on #644
Weeee! Updates here I come! Thanks a bunch!

[2021-07-28 16:58] greenEkatherine commented on #675
Merged https://github.com/dotnet/arcade/pull/7682

[2021-07-29 11:32] greenEkatherine commented on #663
From chat with @fanyang-mono:

Now I see that at first we need to set timeout for XHarness less then it is for pipeline job. Otherwise job is killed and we are not able finalize test properly - app left uninstalled and logs weren't copied. Logs will help to investigate an issue further.

Also, I tried to run one of those test APK locally - no timeout, finished with instrumentation failure.

[2021-07-29 11:37] premun commented on #663
@greenEkatherine I believe the right way to achieve the timeout buffer would be to make runtime tests use `CustomCommands` and then placing a timeout around this call:
https://github.com/dotnet/arcade/blob/dde80826e2fe464ef34182d2f786a6a51121d9a6/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/xharness-helix-job.android.sh#L75

Then, we would be in control on the SDK side to do cleanup (and l

[2021-07-29 11:40] premun commented on #663
Over all, the next steps for the runtime team is to start using the `CustomCommands` and the Helix SDK as intended to give us more control over device runs. This will also be needed for https://github.com/dotnet/core-eng/issues/13607.

/cc @fanyang-mono @SamMonoRT

[2021-07-29 15:19] greenEkatherine commented on #663
Thanks to @fanyang-mono that she pointed me out - there is still issue with space. For example https://helix.dot.net/api/jobs/e1d64e1a-4efe-40fb-9ecc-868ff1dbc053/workitems/baseservices.mono?api-version=2019-06-17  attaching output here as well
[baseservices_mono_install.output (1) (1).txt](https://github.com/dotnet/xharness/files/6901535/baseservices_mono_install.output.1.1.txt)

Error `INSTALL_F

[2021-07-29 17:18] greenEkatherine commented on #663
This is related to changes in XHarness (some time before June 24): I just reproduced it with e2e script, then checked out to randomly old version and installation passed

[2021-07-30 07:16] greenEkatherine commented on #663
This commit https://github.com/dotnet/xharness/commit/fed4184ebd3315ca717339b2f751693ef8dabd36

[2021-07-30 07:57] premun commented on #663
This change only changes `True`/`False` to `true`/`false` if I remember correctly.

I suspect the larger change might be the problem? https://github.com/dotnet/xharness/commit/35f5981ac7ded7c1c95258c0fb86362ed78704b8

Or why does the `ToString` matter here?

[2021-07-30 08:14] greenEkatherine commented on #663
Only one commit and this string - I commented it out and installation passed

[2021-07-30 16:18] fanyang-mono commented on #663
I wonder if the root cause of this problem is also the root cause of the timeout that we are currently encountering for runtime tests running on iOS. This is one of the work items https://helix.dot.net/api/jobs/ca298f42-4111-4e42-9aaa-57f9e8a90c03/workitems/baseservices.mono?api-version=2019-06-17
The failure looks like this
[code]

[2021-08-02 10:22] premun commented on #663
@fanyang-mono as discussed last week - I believe the problem is that the app is not exiting and XHarness waits for it until the timeout comes and it kills the app. I tried running the app manually on the phone and I would expect it to also quit. I saw this for an hour:

![image](https://user-images.githubusercontent.com/7013027/127846619-7f0a90e8-0759-4ce6-bf27-e7e3a48b05b8.png)

[2021-08-02 13:29] premun opened #687 "Add diagnostics mode"
### Context
Every command should have a diagnostics mode when it would log useful data during the execution.

We will eventually start adding more data (used RAM, available storage..) but in the first phase we will only log every command and its result (exit code).

### Goals
- New `--diagnostics` option is added to every command
- XHarness CLI also accepts turning the diag mode on using an enviro

[2021-08-03 08:09] premun commented on #663
This screenshot is from a run where I used the same arguments as your CI runs ^^

[2021-08-03 15:11] fanyang-mono commented on #663
But the run from yesterday on your machine passed. Then I don't know what you were missing from last week's run.

[2021-08-12 15:00] #675 closed

[2021-08-17 13:22] premun opened #689 "Failed to find a x86_64 device on `ubuntu.1804.amd64.android.open.rt`"
[code]

[[Full logs]](https://dev.azure.com/dnceng/public/_build/results?buildId=1296764&view=ms.vss-test-web.build-test-results-tab&runId=38239158&resultId=100003&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab)

Reported in https://github.com/dotnet/runtime/issues/57539

[2021-08-17 13:54] premun opened #690 "iOS app installation takes long on some machines"
### Problem
Looks like the installation itself took 14 minutes and the job was killed in the later stage by the Helix client:

[code]

### Proposal
We should set a shorter timeout for installation and let Helix SDK reboot the machine.

[2021-08-17 14:01] premun opened #691 "Some AppleTV devices failed a job"
Quickly logging this to investigate later

- DNCENGMAC034 - [logs](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-xharness-refs-heads-main-0ab27e9562644ff2a4/System.Buffers.Tests/1/console.fc11a7e4.log?sv=2019-07-07&se=2021-08-24T12%3A00%3A27Z&sr=c&sp=rl&sig=mavYub9r0pFOsPq8QNWuQFwa1tSFo%2B1EIxfU7hCHv5w%3D)
- DNCENGMAC090 - [logs](https://helixre8s23ayyeko0k025g8.blob.core.windows.n

[2021-08-18 11:01] premun opened #692 "BCL test apps started crashing"
As reported in https://github.com/dotnet/runtime/issues/53624, several of the BCL apps started to crash in Helix without producing any logs and seem to be running fine locally.

These apps are:
- `Microsoft.CSharp.Tests`
- `System.Diagnostics.Tracing.Tests`
- `System.Dynamic.Runtime.Tests`
- `System.Linq.Expressions.Tests`
- `System.Linq.Parallel.Tests`
- `System.Text.Json.Tests`

I see the apps e

[2021-08-18 12:38] premun commented on #692
I performed these locally. I can repro the CI problem when using the same MacOS/Xcode/iOS.

Surprisingly, I have different results on different iOS versions. I also tried Xcode 12.5.

### MacOS 10.15 / Xcode 12.4 / iOS 14.4 - PACKAGE_INSTALLATION_FAILURE
[code]

### MacOS 10.15 / Xcode 11.6 / iOS 13.5 - APP_CRASH

[code]

### M1 MacOS 11.00 / Xcode 12.5 / iOS 14.5 - PACKAGE_INSTALLATION_FAILURE

[

[2021-08-18 12:46] steveisok commented on #692
Do you get a net.dot log file with any of these runs?  From what I can tell, it seems like it bails really, really early.

I'm not sure when this started tbh.

[2021-08-18 12:52] premun commented on #692
**net.dot.System.Text.Json.Tests.log:**
[code]

[2021-08-18 12:59] premun commented on #692
I pulled some numbers from the last week:

[code]

Top failures:

|Test suite                                          |Failed|Succeeded|SuccessRate|
|----------------------------------------------------|------|---------|-----------|
|HelloiOS                                            |458   |483      |51         |
|System.Text.Json.SourceGeneration.Tests             |852   |1028     |54

[2021-08-18 13:09] premun commented on #692
Failures:

![image](https://user-images.githubusercontent.com/7013027/129903631-aef7edeb-82e5-498a-a2cc-107aad5f44a1.png)

[code]

[2021-08-18 14:54] mdh1418 commented on #692
When I checked the test suites locally, I had been using what was defaulted by dotnet/runtime in combination with what I have installed on XCode (12.4).
iOSSimulator - 14.4
MacCatalyst - Not sure what version? I have macOS Big Sur 11.4
tvOSSimulator - 14.3

I checked the state of the test suites by running commands such as
`./dotnet.sh build /t:Test /p:TargetOS=MacCatalyst /p:TargetArchitecture=x6

[2021-08-18 15:04] premun commented on #692
Oh, please disregard most of what I investigate today, I might have tried to run a tvOS app on iOS

![image](https://user-images.githubusercontent.com/7013027/129922631-bbc7d298-5896-4220-a358-faa96ed816c3.png)

[2021-08-20 09:19] premun commented on #692
@steveisok I tested again with an app locally and could reproduce the crash on Xcode 11.6 with iOS 13.5

[net.dot.System.Text.Json.Tests.log](https://github.com/dotnet/xharness/files/7020459/net.dot.System.Text.Json.Tests.log)

The log looks fine until the very end:
[code]

[2021-08-20 09:23] premun commented on #692
As Alexander pointed out, I will find out why we miss this log file in Helix

[2021-08-20 12:35] premun opened #694 "App logs are empty on Helix Apple simulators"
### Context

When we are running the Simulator app, we tell it to log the app's output into `net.dot.[APP ID].log`:

https://github.com/dotnet/xharness/blob/e9669dc84ecd668d3bbb748758103e23b394ffef/src/Microsoft.DotNet.XHarness.Apple/AppOperations/AppTester.cs#L556-L558

### Problem

The file seems to be empty when run on Helix but it seems to have the output when run locally.

Might be related to

[2021-08-30 09:13] premun commented on #691
We will need more AppleTV runs because these are just singular failures

[2021-08-31 11:20] premun opened #702 "Attach MacOS system logs when XHarness exits badly"
@premun commented on [Wed Aug 25 2021](https://github.com/dotnet/arcade/issues/7789)

When XHarness exits with `APP_CRASH` or `PACKAGE_INSTALLATION_FAILURE` or some other non-happy path, we can include MacOS system logs in the files uploaded back to Helix.

We can get the logs for the last hour like this:
[code]

We can tweak the size/length and make Helix SDK get it in case of troubles.

[2021-09-03 15:37] greenEkatherine commented on #689
Might be related to https://github.com/dotnet/core-eng/issues/13359

[2021-09-08 08:53] #687 closed

[2021-09-08 15:30] lambdageek opened #705 "Conflicting -d argument"
The `-d=` argument is used for two different things:

* https://github.com/dotnet/xharness/blob/main/src/Microsoft.DotNet.XHarness.CLI/CommandArguments/WASM/Arguments/DebuggerPortArgument.cs#L12 `DebuggerPortArgument` for wasm
* https://github.com/dotnet/xharness/commit/c8c452d7746015847956618cf0c56f931ed8647a#diff-06c7501a9453707b37cdd47ce0d256dcc409ea6bda442fd48d8aa9ded4e95068 `DiagnosticsArgume

[2021-09-08 15:41] premun commented on #705
@lambdageek my bad, I will remove `-d` for the diagnostics command to fix this quickly

[2021-09-08 15:46] premun commented on #705
@lambdageek we should have new XHarness version in ~30 minutes (usually)

[2021-09-08 15:54] premun opened #708 "Create test for conflicting options"
### Context
New option `-d` (#705) was added to all commands and one WASM command was broken by this as it already had this option available.

### Goal
Add some unit/integration test that would prevent mistakes like these (e.g. we can call all commands and see if they return help).

[2021-09-08 16:35] #705 closed

[2021-09-09 11:44] premun commented on #691
We are starting to see more of the failures of the second kind (app keeps outputting the same log line about tunnel connection until it gets killed):
[code]

[code]

[2021-09-10 10:59] premun commented on #690
We will know about this soon via the telemetry

[2021-09-13 12:21] greenEkatherine opened #712 "Deprecate `Ubuntu.1801.Amd64.Android.Open` queue"
After replacing queue `Ubuntu.1801.Amd64.Android.Open` by `Ubuntu.1801.Amd64.Android.29.Open` in scope of https://github.com/dotnet/core-eng/issues/13179 we should deprecate it in OSOB

[2021-09-13 15:54] premun commented on #692
This seems to be on the runtime's side, closing

[2021-09-13 15:54] #692 closed

[2021-09-15 10:37] premun commented on #574
This has been fixed in mlaunch

[2021-09-20 09:28] greenEkatherine commented on #689
Posted update there https://github.com/dotnet/core-eng/issues/13359#issuecomment-922764873

[2021-09-21 15:11] #712 closed

[2021-09-22 11:35] premun commented on #679
Not doing this as described above

[2021-09-22 11:35] #679 closed

[2021-09-22 13:34] SamMonoRT commented on #663
@premun @greenEkatherine  @fanyang-mono  -- what is the status of this  ? seems like we are still blocked by this to merge https://github.com/dotnet/runtime/pull/51642

[2021-09-23 10:32] premun opened #719 "Recognize and create new exit code for installation timeout"
### Context
For iOS simulators, we occasionally see installation slowing down until it takes even 30 minutes. This is usually resolved by reboot of the machine.
To catch this early and not block the machine, we have the `--launch-timeout` option which measures how long it takes to boot the app.
When this happens, we return timeout only though.

We should be able to distinguish if the installation

[2021-09-23 10:50] premun commented on #719
Further investigation shows that we don't even start the timeout before the first installation

[2021-09-23 11:40] greenEkatherine commented on #663
The root cause for this issue is still unclear for me. Using custom command will allow to set up timeout and get more data for investigation so I'm going to check it again now.
Also, I found an issue with external storage (https://github.com/dotnet/core-eng/issues/13359#issuecomment-924041941) - it wasn't set up and might affect these tests since they require quite weighty space for installation.

[2021-09-23 12:32] SamMonoRT commented on #663
Thanks @greenEkatherine  - please let @fanyang-mono know if you need anything else from her to narrow down the issue.

[2021-09-27 09:55] premun opened #721 "The Apple timeouts won't short-circuit device finding"
### Context
Users can specify the `--timeout` or `--launch-timeout` options to fail faster in case of some simulator/device issues.
However, some operations (like device finding) do not allow cancellation as the cancellation token is not forwarded through the stack so if XHarness freezes on those, we need to wait for the full `--timeout` to complete.

### Example crash
[code]

[[Full logs]](https:

[2021-09-27 18:10] greenEkatherine commented on #663
If I remember correctly, `--package-name` is required parameter, but I see it empty in last failed tests https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-8385bb4e32eb4d64b8/JIT.Math/1/console.cb0d8412.log?sv=2019-07-07&se=2021-10-17T08%3A18%3A52Z&sr=c&sp=rl&sig=sn7vE%2FnIhy2GiUfq1WjXms3zr35s%2BmZlNn2Uk6u9NWw%3D
Might it be the cause of failure?

[2021-09-29 08:54] #708 closed

[2021-09-29 13:09] fanyang-mono commented on #663
@premun has changed it to optional. https://github.com/dotnet/arcade/pull/7881

[2021-09-30 13:40] premun opened #725 "Failed to install apk (`Can't find service: package`)"
[code]

Tracking issues reported here:
https://github.com/dotnet/runtime/issues/59679
https://github.com/dotnet/runtime/issues/59779

Seems to be some bad emulator state:
https://stackoverflow.com/questions/42868571/why-is-adb-install-my-apk-triggering-cant-find-service-package

[2021-09-30 15:32] premun opened #726 "Create `android adb` command"
### Context
Sometimes we want to use the bundled ADB directly. Currently, we can call `android state --adb` to get path to the ADB executable and then run that.

Follow up of #724

### Goals
- Add the `android adb` command which would just forward the arguments to adb and pipe the output/exit code.
- The command should accept XHarness arguments still (like `-v` or `-h`) and only forward the `PassT

[2021-10-01 16:25] #719 closed

[2021-10-06 11:21] MaximLipnin opened #731 "[tvOS] test-tvos-device.log is >2Gb"
For some library test suites  in https://github.com/dotnet/runtime/pull/59503, `test-tvos-device.log` file in CI is > 2Gb.
For example, `System.Net.NetworkInformation.Functional.Tests` ([artifacts](https://dev.azure.com/dnceng/public/_build/results?buildId=1393243&view=ms.vss-test-web.build-test-results-tab&runId=40508598&resultId=155996&paneView=dotnet-dnceng.dnceng-anon-build-release-tasks.helix

[2021-10-06 11:23] premun commented on #731
Yeah, we already noticed (#691) just didn't have time to look into this

[2021-10-06 12:53] premun commented on #726
Once this is finished, we should remove the `--adb` options from the `android state` command (revert that whole [change](https://github.com/dotnet/xharness/pull/724))

[2021-10-11 16:00] premun opened #735 "Apps crash on tvOS 15.0 devices"
We started seeing failures on AppleTV 15.0 when the devices updated.

Logs:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-xharness-refs-pull-734-merge-fdec8f4a658f453a99/System.Buffers.Tests/1/console.dbdd81a4.log?sv=2019-07-07&se=2021-10-31T15%3A42%3A51Z&sr=c&sp=rl&sig=x2XKRBdPa7%2FmJ5tW0rMTy9R8Xcot4qMyNh9RD2otbb8%3D

[2021-10-18 02:22] charleszh-dev opened #738 "How to use XHarness for testing in Maui project?"
Hi,
I would like to create Device Test project for my Maui project, but there is very little information about it now.
Is there a tutorial for using XHarness in Maui?
Any help is appreciated. Thanks.

[2021-10-18 02:41] realZhangChi commented on #738
I tried to create my Device Test project by referring to [Essentials.DeviceTests](https://github.com/dotnet/maui/tree/main/src/Essentials/test/DeviceTests).
1. adding [maui](https://github.com/dotnet/maui) to my project as a git submodule.
2. creating a .NET MAUI App project as a Device Test project.
3. add a reference to the TestUtils project in the Device Test project.
[code]
4. delete the App.x

[2021-10-18 08:01] premun commented on #738
Hi @realZhangChi,

Please note that the `test` command expects the app to have a [TestRunner](https://github.com/dotnet/xharness#test-runners) which is a XUnit test runner wrapper that you can find in this repository. This TestRunner will locate unit tests inside of the app and connect to the XHarness process to signalize the progress.

Does your app have a TestRunner? If not, you can try the `and

[2021-10-18 09:48] #735 closed

[2021-10-18 10:50] premun commented on #691
Closing as duped by #731

[2021-10-18 10:50] #691 closed, assigned to premun

[2021-10-18 10:51] premun commented on #690
This has been fixed by https://github.com/dotnet/xharness/pull/720 and https://github.com/dotnet/arcade/pull/7966/files

[2021-10-18 10:51] #690 closed

[2021-10-18 16:11] #702 closed

[2021-10-19 06:39] #738 closed, assigned to nobody

[2021-10-20 09:26] premun commented on #671
This was already added in https://dev.azure.com/dnceng/internal/_git/dotnet-helix-machines/pullrequest/18241

[2021-10-20 09:54] premun commented on #663
@fanyang-mono I am closing this issue as it no longer reflects any current issue we see in XHarness.

As described here - https://github.com/dotnet/runtime/pull/59772#issuecomment-937933128 - the only timeouts happening are coming from the Xunit runner not calling XHarness in time (might be long running tests or some other problem), however, there were no installation timeouts ever, just failed in

[2021-10-20 15:49] premun opened #741 "Apple exit code detection is flaky"
For `apple run` and `apple just-run` commands, we try to detect the exit code from the system logs of the device/simulator. Sometimes the code is not detected.

The system log seems to have the line we want to get the exit code:
[code]

We look for this bit:
[code]

But XHarness didn't find it.

[2021-10-27 06:51] greenEkatherine opened #748 "Some of old API jobs are dead lettered"
Tests running on API 21 with job id `eacc4c4f-20f8-479b-89c4-1f7a6c52022b` have many items with dead lettered status.

[2021-10-27 06:53] greenEkatherine opened #749 "Redundant retries on the same machines"
Tests running on API 21 with job id `eacc4c4f-20f8-479b-89c4-1f7a6c52022b` have retries on each item, executed on the same machine. In case of VMs and emulators it probably doesn't make sense.